[2017-07-25 08:54] DennisSchwartz opened #1 "Reorganising the BioJS community and team"
At the 2017 BOSC conference we had a Birds of a Feather (BoF) discussion about the future of BioJS.
Members of this discussion included among others: @CarlosHorro, @ljgarcia, @rowlandm, @yochannah, @bgruening, @sacdallago, @DennisSchwartz
Please feel free to add whoever I missed.

We discussed the current state of BioJS and shared some theories about how we got here (mostly lack of transparency an

[2017-07-25 09:06] DennisSchwartz opened #2 "BioJS call August 2017"
There will be another online call to discuss the future of the BioJS project.
Please fill in the Doodle form here:
https://doodle.com/poll/yxnnsk4edn78a42q
(Times are BST/UTC+1)

Hoping to see anyone who is interested in the future of BioJS joining!

@rowlandm please feel free to share the agenda document. I wasn't sure if that might be sensitive :)

[2017-07-25 12:00] rowlandm commented on #2
Thanks Dennis!

Here is the agenda for the meeting:
https://drive.google.com/open?id=10RSevhuwtYRhBUUD5aakViwDPvOuaA_i4C652bn7oE4

Regards,

Rowland

------------

Rowland Mosbergen | Business Manager, Stemformatics
Wells Laboratory | Centre for Stem Cell Systems
Department of Anatomy and Neuroscience | Faculty of Medicine, Dentistry and
Health Sciences

Room 1.36, Level 1, Kenneth Myer Building
T

[2017-07-25 12:02] rowlandm commented on #1
Hi all,

Here are the minutes of the meeting at the BOF.
https://drive.google.com/open?id=1ctKJfQDAeYDBdf90DGnDeqEsYbWvs4jB07vRUdV3H0c

Regards,

Rowland

------------

Rowland Mosbergen | Business Manager, Stemformatics
Wells Laboratory | Centre for Stem Cell Systems
Department of Anatomy and Neuroscience | Faculty of Medicine, Dentistry and
Health Sciences

Room 1.36, Level 1, Kenneth Myer Build

[2017-08-01 12:21] rowlandm commented on #1
Hi All,

The BioJS Community call will be on the 16th of August at 10am GMT+1.

Details are below. Zoom is the video conferencing tool that is free to
download and install.

https://docs.google.com/document/d/10RSevhuwtYRhBUUD5aakViwDPvOuaA_i4C652bn7oE4/edit#

Hope to see you all there!

Regards,

Rowland

Regards,

Rowland

------------

Rowland Mosbergen | Business Manager, Stemformatics
Wells L

[2017-08-01 12:35] rowlandm commented on #2
The date will be the 16th of August. The agenda is here:

https://drive.google.com/open?id=10RSevhuwtYRhBUUD5aakViwDPvOuaA_i4C652bn7oE4

Regards,

Rowland

------------

Rowland Mosbergen | Business Manager, Stemformatics
Wells Laboratory | Centre for Stem Cell Systems
Department of Anatomy and Neuroscience | Faculty of Medicine, Dentistry and
Health Sciences

Room 1.36, Level 1, Kenneth Myer Buil

[2017-10-02 09:10] DennisSchwartz opened #3 "Update of the BioJS library"
I've had a quick look into what is currently running the BioJS library. Here's the low down:

The library is run by a
- Express.js server
- Node 0.12 (!)
- Deployed to Heroku by Travis CI

The code style is more object-oriented and based around objects and prototypes. I personally suggest to move to a more functional approach to allow better testing, but that's up for debate.
The server actually h

[2017-10-02 12:23] rowlandm opened #4 "Review landing page for BioJS"
I have put together an idea of a redesigned landing page to accomodate just one website domain.

On the Landing page you can click on Browse Component and it will take you to the Browse Component page.

You can click the BioJS logo on the Browse Component Page to get back to the Landing Page.

https://app.moqups.com/rowlandm/qTdAndgOF4/view/page/aa9df7b72

Please have a look and tell me what you t

[2017-10-02 13:04] DennisSchwartz commented on #4
As mentioned before: I like it a lot.

Any ideas what we want to do in terms of a front-end framework?
I've been wanting to learn React for a while :D
But learning something is usually not the best way to get good results quickly

[2017-10-02 23:35] rowlandm commented on #4
I think if you are doing it, you can choose, provided that at least one other person is reviewing the pull requests!

I also think we have to decide if we keep the current infrastructure, start from scratch or something in between.  I think that should be based on ease of development, ease of maintenance and current skillset (and enthusiasm) of whoever is going to do it and maintain it.

[2017-10-03 00:30] wilzbach commented on #4
FWIW React is very easy to ;-)

[2017-10-03 08:06] DennisSchwartz commented on #4
Haha, well there's another problem: If I do it by myself it will take forever. We need a better plan than that ;)

I'm happy to take on some, even a lot of it, but I think it's much more important to create a proper document with all the features we want for the first iteration and a vague idea of where they come from.

That'll allow us to really split the work. And from all I've heard, if you wan

[2017-10-03 08:40] 4ndr01d3 commented on #4
Hey guys,
I'm happy to collaborate as much as my workload allows me. I have some
experience working with React, and agree that it helps in the task of
separating on components. And as Seb said React is quite easy, However,  I
think most of it depends on the project setup, webpack, etc...

Anyways, I agree with Dennis that the priority should be to define the
desired features, how much of this is j

[2017-10-03 09:43] DennisSchwartz commented on #4
@4ndr01d3 Totally agree.

And I'm really happy to see so much discussion happening on this already 🤗
It's not gonna happen overnight, but I'd love to see thing moving ahead in a more collaborative way for BioJS.

[2017-10-03 09:49] rowlandm commented on #4
My personal preference is to keep things simple. The actual user interface is pretty simple. I think it's the backend setup that is the one that is more key: https://github.com/biojs/organisation/issues/3

[2017-10-03 10:00] rowlandm commented on #3
Thanks for this Dennis.

I think this touches on a couple of things:
1/ Our decisions need to take into account the software but also the maintenance of the server and also of the code.
2/ How much functionality is being used at the moment? I'd be loathe to drop anything that was being used consistently...

Dennis, is what you have put together all on the biojs.io website or also on the workmen.bi

[2017-10-03 10:11] rowlandm commented on #3
Actually I'll add another thing:
3/ It is critical that the code is as simple and maintainable as possible. One rule of thumb is that a junior developer with the architecture diagram should be able to understand the majority of the code within a day or two.

[2017-10-03 10:19] rowlandm commented on #3
Also, having a dev/test server as well as a production server would be great. Having them easily able to be setup via a script or DevOps tool would be even better. That way devs who want to contribute could easily spin up a VM and contribute code.

[2017-10-06 12:36] ljgarcia commented on #4
I do not expect to have much time to actually code but I would be happy
to help with code review (that sometime take as much effort as coding, I
know but not necessarily so might be easier for me to start there, I
might be able to help more later but we are starting a new project now
so...)

On 03/10/2017 10:43, Dennis Schwartz wrote:

[2017-10-06 21:09] rowlandm commented on #4
Adding your comment from before Leyla:

Looks nice but I would allow the component to take all the horizontal space and just keep a link to Browse Components and a quick Search option.

[2017-10-21 06:31] rowlandm opened #5 "Migration of infrastructure"
Hi All,

I got this email from Bjorn about payment for Amazon Web Services and Heroku running out as of now.

I can get Stemformatics to pay this til the end of the year. But we need to have a plan and ensure we move off these servers by 1st January 2018.

My plan is to host these on the Australian research cloud (NeCTAR) and to use this as a way to promote BioJS in Australia. That's the easy bit.

[2017-10-21 14:51] bgruening commented on #5
I'm missing technical background for what this all is needed, but my feeling is we should move over the website to one of our clouds.

[2017-10-22 05:56] rowlandm commented on #5
I agree. It might be better to have the cloud based in Europe as opposed to Australia (NeCTAR). How quickly could we move it over?

Or would we need to build it from scratch?

[2017-10-23 09:15] yochannah commented on #5
Another hosting option could be http://osuosl.org/services/hosting/ (USA-based)

[2017-10-26 09:12] rowlandm opened #6 "BioJS Community Call for October"
Hi all,

Only one item on the agendum - how to migrate away from Heroku and AWS.

Zoom conference ID is here:
https://unimelb.zoom.us/j/6552003787

BioJS Monthly Community Call (10.30am GMT  on the fourth Thursday of every month)

Using emails from the BioJS Internal Google Group. Please email rowland@stemformatics.org if you cannot remove yourself from the list.

https://groups.google.com/forum/#

[2017-10-26 10:28] rowlandm commented on #5
Question is can we just migrate the code we currently have or do we need to build it from scratch?

[2017-10-26 11:08] rowlandm commented on #5
Hackathon idea:
- Turn mockup into HTML
- try a simple 1 example BioJS viz from npm
- try a multi example BioJS viz from npm
- try to provide a list of BioJS npms into a website

[2017-10-26 11:12] rowlandm commented on #5
I think we need to use VMs for the moment. This is the most simple way of keeping things going for the complexity we need.

[2017-10-26 11:14] rowlandm commented on #5
Mozfest might be an option to recruit people.

[2017-10-26 11:14] rowlandm commented on #5
Linux conference in January?

[2017-10-26 11:17] rowlandm opened #7 "Projects for Google Summer of Code"
What kind of projects do people have?

[2017-10-26 11:30] rowlandm commented on #7
We will probably end up going under the umbrella of OBF, according to Yo.

[2017-10-26 18:31] DennisSchwartz commented on #5
I like the Idea of a Hackathon. I would of course prefer Europe or specifically Germany or UK :D

[2017-10-26 19:37] rowlandm commented on #5
Lets look around for one there. I'm chasing one option over here.

El 27 oct. 2017 05:31, "Dennis Schwartz" <notifications@github.com>
escribió:

I like the Idea of a Hackathon. I would of course prefer Europe or
specifically Germany or UK :D

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/biojs/organisation/issues/5#is

[2017-10-26 20:19] #2 closed, assigned to DennisSchwartz

[2017-10-26 20:20] #1 closed, assigned to nobody

[2017-10-26 20:35] rowlandm commented on #5
We could look at using github as I can see raw files:

https://raw.githubusercontent.com/rowlandm/biojs-vis-rohart-msc-test/master/data/dataset6037.rohart.MSC.tsv

https://raw.githubusercontent.com/rowlandm/biojs-vis-rohart-msc-test/master/css/biojs-vis-rohart-msc-test.css

The hardest part is adding extra stuff for the simple example:
http://workmen.biojs.net/demo/biojs-vis-rohart-msc-test/simple

[2017-10-26 20:47] rowlandm commented on #7
Some other options for funding:
https://techcrunch.com/2017/10/03/mozilla-funds-open-source-projects-with-half-a-million-in-grants/

https://www.linux.com/NEWS/HOW-FIND-FUNDING-OPEN-SOURCE-PROJECT

[2017-11-17 23:01] rowlandm commented on #5
Sorry everyone. But how can I pay for these services to keep going?

[2017-11-18 07:41] rowlandm commented on #5
I tried to login to Heroku, but couldn't. Using credentials from the Infrastructure document.

[2017-11-18 13:09] DennisSchwartz opened #8 "[DevOps] biojs.net is down!"
As Rowland pointed out in the mailing list, the biojs.net page and the biojs.io registry are down.

Both were deployed to Heroku, where I can't access the account. I'm assuming it's been deactivated, possibly for missing the payments.

I will take a look into solutions as soon as I can.
That will mostly involve:
- [x] Investigate reason for Heroku deactivation
- [x] Investigate possibly alternativ

[2017-11-20 12:20] yochannah opened #9 "New homepage or temp placeholder"
biojs is down - see https://github.com/biojs/organisation/issues/8
One possible temp solution that could become the long-term solution is to set up a placeholder gh-page homepage. This doesn't require any additional hosting or passwords beyond what we already have I think, so long as we can re-direct the domain to point to the new page.

Things to include as a minimum:
- explanation about what bio

[2017-11-20 12:22] yochannah commented on #9
If you are interested in contributing to this issue please leave a comment!

[2017-11-20 12:25] yochannah commented on #9
See also https://github.com/biojs/organisation/issues/4 for discussions of a possible design - but *any* basic page that we could point to would be better than a perfectly designed page right now while biojs is completely down

[2017-11-20 12:29] ljgarcia commented on #9
+1 for the gh-pages solution
Quick question about Google groups, did not we say that we were moving all to GitHub issues? Are we keeping them at the end?

[2017-11-20 12:43] yochannah commented on #9
We definitely discussed the option of doing so! I'm reluctant to completely close down the mailing groups - it might be easier for some to post to a mailing group than to a github issue, and I think we can't do without some email contact option. I don't mind monitoring the two groups for spam and queries in general.

[2017-11-20 13:49] yochannah commented on #4
@rowlandm Your mockup seems to have disappeared (not found when we click on it). Do you have a backup somewhere?

Maybe you could share it directly in the issue?

[2017-11-20 14:05] ljgarcia commented on #9
Thanks for the clarification regarding the lists.
Now, about the github pages, how should we start? Anyone in particular looking at it? Will it be discussed during the next meeting?

[2017-11-20 14:07] yochannah commented on #9
@xwatkins has indicated he might be able to help out...

[2017-11-20 14:12] ljgarcia commented on #9
Great! I just gave @xwatkins permissions to create repos so we are advancing on this. It is a good start!

[2017-11-20 14:48] ljgarcia commented on #9
Great! I just gave @xwatkins permissions to create repos so we are advancing on this. It is a good start!

[2017-11-20 15:04] #6 closed, assigned to nobody

[2017-11-20 16:26] yochannah opened #10 "November 2017 monthly community call"
### Next date:
23rd November at 10:30 AM GMT.

### Agenda:

- getting back up and running after our hosting expired. See also #5 #8 for migration plans and #9 for a short-term stopgap that @xwatkins is helping out with.
- Should we apply for OBF membership to help maintain our longer-term stability? See the [OBF membership application docs](https://github.com/OBF/obf-docs/blob/unratified-drafts/Af

[2017-11-20 16:29] DennisSchwartz commented on #8
While @xwatkins is working on a new implementation for biojs.net in https://github.com/biojs/biojs.github.io , I'm experimenting with deploying the existing Ghost CMS somewhere else.

So far, little success. It's a bit of a mess that's misusing Ghost and node for things they shouldn't be doing.

[2017-11-20 17:15] DennisSchwartz commented on #8
So I've got the workmen running in a docker container which is good enough to bring the registry at biojs.io back online.

Currently asking my boss if we can deploy it on [Repositive](www.repositive.io) infrastructure for now.
Otherwise I'll run it on a new AWS machine.

[2017-11-20 17:56] DennisSchwartz commented on #8
The registry is back! http://biojs.io/

I'm not sure if the preview works, and we'll have to see if there are any other issues, but in general, it works.

I have created a container for the https://github.com/biojs/registry-workmen code and deployed it to the AWS container service. Tbh, I have no idea how it works. I doesn't have a database or Github token specified, but it seems to be jugging alo

[2017-11-20 18:18] rowlandm commented on #4
Sorry! I was a bit harsh with my archiving.

It is back up now:
https://app.moqups.com/rowlandm/qTdAndgOF4/view/page/aa9df7b72

Just in case I remove it, I've provided it as a PDF here:
[BioJS_Landing_page_ideas.pdf](https://github.com/biojs/organisation/files/1488686/BioJS_Landing_page_ideas.pdf)

[2017-11-20 18:27] rowlandm commented on #10
Thanks Yo - I didn't realise it was this week!

[2017-11-20 21:20] yochannah commented on #8
WELL DONE!!

On 20 November 2017 at 17:56, Dennis Schwartz <notifications@github.com>
wrote:

[2017-11-20 21:33] yochannah commented on #10
hah - between us we'll keep this thing stumbling along 😆

[2017-11-21 11:32] xwatkins commented on #9
Do you have a snapshot of the content of the old biojs.net? It would be great to have some kind of mission statement, and a few tiles (I think there was 3 or 4 like re-use, re-something...?!). Basically I need some content! 🙌

[2017-11-21 11:37] yochannah commented on #9
Much like @DennisSchwartz, I had trouble recreating the biojs.net site locally - it seemed to be missing content compared to what was on the live site?

The wayback machine version of biojs.net is probably our best bet for now: https://web.archive.org/web/20170723191208/http://biojs.net

[2017-11-21 11:38] yochannah commented on #9
Oh, and @rowlandm has restored the mock he did last month: https://github.com/biojs/organisation/issues/4#issuecomment-345782470

[2017-11-21 11:41] xwatkins commented on #9
Of course, wayback machine to the rescue! Should have something in the next couple of days

[2017-11-21 13:11] DennisSchwartz commented on #9
@yochannah I actually managed to run it locally, the problem were that all the links don't seem to work.

~It's just a bad idea to run a static site compiled with Jekyll on top of Ghost. Just like duct taping stuff together haha.~

UPDATE: Actually not true.

[2017-11-21 13:26] yochannah commented on #9
It's Jekyll *and* ghost? Oh my. Is the consensus that we shall have to abandon ghost and go full steam ahead with the gh-pages option? Add thumbs-up emojis or comment to indicate agreement. (Seems sanest to me not to require external resources when gh-pages can do it all).

[2017-11-21 13:32] DennisSchwartz commented on #9
The only reason we were using Ghost was that Manny specifically asked us to have a CMS. So it seemed like an easy solution to just convert the site we had to a Ghost template.
I can take a look if we can just extract that into a gh-pages Jekyll site again.

@xwatkins Are you starting again from scratch? I'm sure your web dev skills are better than mine were two years ago 😄  but you still might wan

[2017-11-21 13:33] DennisSchwartz commented on #9
One of the reasons I'm asking is, let's not hack something together quickly if we can somehow manage to get something up that gives us time to actually design what we would the new page to look like. Just a thought :)

[2017-11-21 13:45] xwatkins commented on #9
I agree this should take a lot more thought and planning and probably be part of a strategy as a whole, so I was just going to quickly knock together a landing page for the project. As this is fairly simple as a first step I didn't think it was worth looking into using Jekyll / Ghost, although it doesn't mean we can't explore this later depending on requirements.

[2017-11-21 14:31] DennisSchwartz commented on #9
Yeah that makes sense.

Also, I have to take back my earlier statement. There is no Jekyll involved in this! It's a regular ghost theme with Handlebar templates. There is however, a lot of postinstall compiling with sass and ruby going on and I'm not sure why.

The bundler calls made me think it's Jekyll.

[2017-11-21 18:42] rowlandm commented on #9
I'm happy with the gh option.

[2017-11-23 10:48] yochannah opened #11 "Sort out passwords - lastpass?"
This is a possible web-based solution to share all biojs passwords safely -
 core active members could have access to the master password.

https://www.lastpass.com/

[2017-11-23 10:49] yochannah commented on #11
@rowlandm what do you think?

[2017-11-23 11:39] rowlandm commented on #10
Key action points from the meeting:

1. DNS is not working for biojs.net and workmen.biojs.net. Need to re-delegate DNS from GoDaddy (Rafa) to Cloudflare [ @DennisSchwartz ]

2. #11 Passwords storage online. Also change Twitter password  [ @yochannah ]

3. #12 Create two NeCTAR VMs for Dennis and Yo. Give them both access. Ubuntu with not much grunt needed. [ Rowland]

4. Ask a little more about w

[2017-11-23 11:40] rowlandm opened #12 "Setup 2x NeCTAR VMs for Yo and Dennis"
Ubuntu
Using AWS microservice at the moment.
Need @DennisSchwartz and @yochannah public keys

[2017-11-23 11:45] rowlandm opened #13 "System architecture guideline for long term biojs.io"
1. One domain. Single server. MVC preferable.
2. Must be simple, maintainable and readable
2.1 From a specific url, it should be very easy to locate the code that is running that url and should be consistent eg. [fake example] http://biojs.io/contents/about_us should be in contents controller with about_us action. View would be in file contents/about_us and javascript would be contents/about_us.js

[2017-11-23 11:49] xwatkins commented on #9
Ok, just pushed something very very basic based on old site and what I could gather from the thread above. Let me know if anything is missing/wrong etc...

[2017-11-23 11:54] xwatkins commented on #10
completely missed it, will try to join the next one

[2017-11-23 11:56] xwatkins commented on #9
Just noticed an issue in Firefox with the background SVG, will see if I can fix it.

[2017-11-23 11:56] rowlandm commented on #11
I think it should be OK. I saw this article that mentions that you shouldn't let it store your master password. If we do that I think we should be fine.

At the very least, if you use LastPass, don't allow it to store your master password and, as Vigo and Garcia recommended, enable the service's two-factor authentication option. If you don't use LastPass, perhaps the smartest option, as three Micr

[2017-11-23 11:57] rowlandm commented on #9
Explore Components link doesn't work (pointing to www.biojs.io)

Regards,

*Rowland Mosbergen | Stemformatics Project Manager*

Centre for Stem Cell Systems

Department of Anatomy and Neuroscience | Faculty of Medicine, Dentistry and
Health Sciences

Room 1.36, Level 1, Kenneth Myer Building

The University of Melbourne, Victoria 3010 Australia

*T: *+61 3 834 46623 *E: **rowland@stemformatics.org

[2017-11-23 12:01] DennisSchwartz commented on #11
I like it. I'll have to take a closer look to see if there is cost involved.

[2017-11-23 12:07] xwatkins commented on #9
both fixed.

[2017-11-23 12:18] 4ndr01d3 commented on #9
Hey guys, sorry I missed the call.
So I'm wondering, what are the features that makes necessary a server for the registry?
Isn't possible to create a client that gets info directly from npm and github and builds the registry on the fly?
Just an idea, BTW @xwatkins I'm happy to contribute coding, just let me know how can I help.

[2017-11-23 12:57] DennisSchwartz commented on #9
@4ndr01d3 That's basically what's happening in the registry-workmen. But it's still a server-side issue. It's also needed for the examples.

So we need to create a proper discussion about the requirements of the BioJS website.

[2017-11-23 17:30] 4ndr01d3 commented on #9
@DennisSchwartz that's what I though, and from what I can see we can do all the workmen tasks on a js client, from the workmen README:

From what I can see, most of this is to be able to provide more info on the list of components, and to be able to filter/search on it.
If we limit that list to what we get on [https://registry.npmjs.org/-/v1/search?text=keywords:biojs](https://registry.npmjs.org/-

[2017-11-23 18:45] rowlandm commented on #9
Hey @4ndr01d3

I hear what you are saying, we want to reduce our complexity and not have a server. But I think that due to the complexity of searching / snippets and our international audience we need to actually have a server to reduce complexity of the code and to provide a decent user experience (ie make it fast).

It's actually going to be very difficult to drive down complexity in this situat

[2017-11-24 10:23] DennisSchwartz commented on #12
[code]

Thanks @rowlandm!

[2017-11-24 10:42] rowlandm commented on #12
Hi Dennis,
I have setup biojs1.stemformatics.org (Sydney) and biojs2.stemformatics.org (Melbourne).
You should be able to ssh in:
ssh dennis@biojs1.stemformatics.org

Let me know if that's not the case.

I will need to give you your password (please change it) for your sudo access.

Rowland.

[2017-11-24 10:44] rowlandm commented on #12
Yo is setup as well, but without her public key.

[2017-11-24 10:45] rowlandm commented on #12
Be warned, there is no iptables on these servers. They are very bare boned.

[2017-11-24 10:50] yochannah commented on #12
Thanks Rowland!!

[2017-11-24 11:46] DennisSchwartz commented on #12
Thanks a lot! I will check them out tomorrow or tonight.

[2017-11-24 18:51] yochannah commented on #10
The second part of item 2. above has been completed - Rowland, I've sent you details

[2017-11-24 19:25] yochannah commented on #12
having trouble sshing with username / password. I'm guessing the user is yo?

[code]

[2017-11-24 19:26] rowlandm commented on #12
Can I get your public key?

I'll check with username/password. Yes it is yo

And it's locked down by public key only.

[2017-11-24 19:27] yochannah commented on #12
Key is:

 ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCq/v2f2BdG9md4rpz/5wsuKtd8DdfUlHPGqCyCCmMd3vLDNdKP4MR7Tr5HyGckIfyQvNY4+ioClylo0AUARzWHrIdN2yS82UNV181KsMX0kZWtolOn/TPGM8+1Ok0qafOvbY+U4JD2wgMbj3adQPKzeWFCHRe6+cp1fJWpx1NPcKbHI6drQ+szIKnTQ3Y8j6ar1/xGV7PbSBwy2e0I6uxXQKashjpjQNS3QHodDhJMkXLKS3xI3WLkzWHG0efuog7p86O4RsmNli+lA/5ZFrEiaMeCRheEP9DKlezp/FobMVjFW3RzJVV9nuZ1/MUNbhy05adQHCutbDj6miF3p2yPb5iGDb+q2+

[2017-11-24 19:30] rowlandm commented on #12
try
ssh yo@biojs1.stemformatics.org

[2017-11-24 19:31] yochannah commented on #12
yep, that's fixed it. Thanks! :+1:

[2017-11-24 19:32] rowlandm commented on #12
OK - will do it for biojs2 now.

[2017-11-24 19:33] rowlandm commented on #12
Try now for biojs2.stemformatics.org

[2017-11-24 19:34] yochannah commented on #12
looking good!

[2017-11-24 19:34] rowlandm commented on #12
Check your sudo access too. Just want to ensure it's all OK.

[2017-11-24 19:39] yochannah commented on #12
all good! passwords changes and cowsay installed as a test package on both.

[2017-11-25 19:26] DennisSchwartz commented on #12
@rowlandm I get an `Permission denied (publickey).` error 🤔

Can you check if there maybe is an issue with newlines or something?

[2017-11-25 20:12] rowlandm commented on #12
Try now!

Regards,

*Rowland Mosbergen | Stemformatics Project Manager*

Centre for Stem Cell Systems

Department of Anatomy and Neuroscience | Faculty of Medicine, Dentistry and
Health Sciences

Room 1.36, Level 1, Kenneth Myer Building

The University of Melbourne, Victoria 3010 Australia

*T: *+61 3 834 46623 *E: **rowland@stemformatics.org
<rowland@stemformatics.org>*

*I acknowledge the Wurun

[2017-11-27 09:47] DennisSchwartz commented on #12
@rowlandm It works for `biojs1`! 🎉  That's enough for now, but if you have time to do it for the other machine as well, that would be great.

Thanks again! I'll have time to work on it tonight.

[2017-11-27 19:05] rowlandm commented on #12
Ok - done on biojs2. Please let me know if you can't get in.

[2017-11-29 17:02] wilzbach commented on #8
@DennisSchwartz @rowlandm @yochannah who is in charge of biojs.net nowadays?

Apparently the DNS entry for msa.biojs.net has been deleted. It should be a CNAME to `wilzbach.github.io`
Could someone look into this? Thanks a lot in advance!

See also: https://help.github.com/articles/setting-up-a-custom-subdomain/

CC @TatyanaGoldberg

[2017-11-29 17:16] DennisSchwartz commented on #8
@wilzbach We've been discussing this on the mailing list. @rafael-alcantara is currently in charge of that and he changed the DNS entry of biojs.net to point to the new interim biojs site.

I've asked him to point it back to Cloudflare but haven't heard back so far.

[2017-11-29 17:17] yochannah commented on #8
Hey @wilzbach! We're working on getting everything back up at the moment, but I think only Rafa has access to the domain. I need to apologise for this - I asked him to redirect it initially since our heroku hosting for the main site had gone down, and I didn't realise that the subdomains were all managed via cloudflare, and would break as a consequence :(

[2017-11-29 20:06] rafael-alcantara commented on #8
Sorry to invade the conversation, but my name has been mentioned and I am afraid I am not the right Rafa :smile: Try Jiménez.

[2017-11-30 10:30] DennisSchwartz commented on #8
🙈  @rafael-alcantara, my bad! @rajido is who I meant haha.

[2017-11-30 11:41] rajido commented on #8
Now biojs.net pointing to the cloudflare nameservers
elinore.ns.cloudflare.com
jerry.ns.cloudflare.com

@DennisSchwartz are the cloudflare DNS configured to point to the biojs github pages?

[2017-11-30 12:12] DennisSchwartz commented on #8
@rajido Thanks a lot! Biojs.io is working again :)

It's not pointing to the new Github pages yet, but I'll take care of that now.

[2017-11-30 13:20] wilzbach commented on #8
Thanks a lot @DennisSchwartz @rajido :)

[2017-11-30 13:32] DennisSchwartz commented on #8
Cloudflare should be reactivated and point to Github. It says it will take a few hours to be in effect, I will check back tonight.

[2017-11-30 15:48] DennisSchwartz commented on #8
🎉  It's back! [https://www.biojs.net](https://www.biojs.net)

Thanks @rajido for fixing it and thanks to @xwatkins for putting together a replacement website on such short notice.

[2017-11-30 23:03] rowlandm commented on #8
Thanks everyone!

On Fri, Dec 1, 2017 at 2:48 AM, Dennis Schwartz <notifications@github.com>
wrote:

[2017-12-03 06:19] rowlandm commented on #8
I will close this issue now. Please re-open if you think you need to @DennisSchwartz

[2017-12-03 06:19] #8 closed, assigned to DennisSchwartz

[2017-12-03 06:20] rowlandm commented on #12
Hi @DennisSchwartz  and @yochannah

Once you can get into these two VMs and check sudo, you can close this issue.

[2017-12-04 07:01] alexgarciac opened #14 "2018 road map"
we need to have fortnightly calls/sprints to define a 2018 road map for biojs. interested?

[2017-12-04 09:00] ljgarcia commented on #14
Currently, we have a monthly call, the last Thursday as farvas I
remember. You could join those.

At this point, not sure we have enough for biweekly meetings, what us on
iur plate right now is getting the registry properly running and start
getting a look to the summer of code next year. Perhaps you have some
ideas for the latter?

Not sure when our meeting this month is, last Thursday can be tri

[2017-12-04 09:52] DennisSchwartz commented on #12
Works for me! Ready to close from my side.

Thanks @rowlandm!

[2017-12-05 09:55] yochannah commented on #12
All good!

[2017-12-05 09:55] #12 closed, assigned to nobody

[2017-12-12 12:20] rowlandm opened #15 "No December Community Call"
Have a good break everyone!

[2017-12-12 12:23] rowlandm commented on #5
Hi @DennisSchwartz could we get an update around status of migrating to NeCTAR VMs?

[2017-12-12 12:25] rowlandm commented on #11
I think it's free for 1 user. We would then just share the one master password between three people.'

Other options is KeepassX

[2017-12-12 12:26] rowlandm commented on #9
Has anyone looked at this in greater detail?

[2017-12-12 13:59] yochannah commented on #11
I've set up a free account, but since we blocked the password doc I can't
migrate details there :( Happy to do it if someone share the details with me

On 12 December 2017 at 12:25, rowlandm <notifications@github.com> wrote:

[2017-12-12 14:30] DennisSchwartz commented on #11
I granted you access on GDrive. Give it another go and let me know if it works.

[2017-12-12 14:32] yochannah commented on #11
All good! :)

On 12 December 2017 at 14:30, Dennis Schwartz <notifications@github.com>
wrote:

[2017-12-14 10:34] yochannah commented on #11
Passwords have all been migrated to lastpass. DO NOT USE THE GOOGLE DOCS!

Lastpass credentials are held by @yochannah, @DennisSchwartz and @rowlandm

[2017-12-14 10:34] #11 closed, assigned to nobody

[2017-12-17 21:38] DennisSchwartz commented on #5
@rowlandm I've now moved the workman to biojs1. However, the DNS hasn't updated yet, I'm hoping it'll work soon, otherwise I'll fall back and investigate.

So I can shutdown my own AWS account soon.

[2017-12-17 21:41] rowlandm commented on #5
Great! Thanks Dennis!

El 18 dic. 2017 08:38, "Dennis Schwartz" <notifications@github.com>
escribió:

[2017-12-18 09:53] DennisSchwartz commented on #5
There was a small configuration error 🙊 But it's back up working now with the NeCTAR machine 👍
For some reason I can't get it to accept https connections but it seems to be fine for biojs.io for now.

[2018-01-02 00:27] rowlandm opened #16 "Upgrade node.js dependency version to fix potential security vulnerability in biojs/sniper"
---------- Forwarded message ----------
From: GitHub <notifications@github.com>
Date: Fri, Dec 29, 2017 at 9:53 AM
Subject: [biojs/sniper] One of your dependencies may have a security vulnerability
To: biojs/sniper <sniper@noreply.github.com>
Cc: Security alert <security_alert@noreply.github.com>

rowlandm,
We found a potential security vulnerability in one of the dependencies used by a repository

[2018-01-02 16:24] yochannah commented on #13
Expanding this description to make it easier for others to help out:

[Biojs.io](http://biojs.io/) is a site that presents npm packages tagged biojs. There are certain limitations that mean we'd like to redesign it. In particular, the client driven implementation that is currently running can be very slow to load - probably related to the fact that there are over 100 biojs components and a lot of

[2018-01-02 16:56] yochannah commented on #9
ok, running some thoughts through my brain & I'm going to try to use this thread to discuss this further and sound out thoughts:

First: We have people volunteering to help out in gitter all the time but we don't have clear-cut tasks to give them. So, let's break our tasks into small do-able chunks with easy steps to get people started - but I need to understand better what we want.

@rowlandm, I

[2018-01-06 23:52] rowlandm opened #17 "Biojs.io down again"
Sorry @DennisSchwartz ....

I was checking the patches for the biojs1.stemformatics.org server and realised that it was out of space.

I initially thought it was an open file so I just rebooted the server. The web service didn't come backup after a reboot.

I finally tracked it down to the overlay2 directory that was chewing up 4.4GB of space:
https://forums.docker.com/t/some-way-to-clean-up-ident

[2018-01-07 00:09] rowlandm commented on #17
I'll create a biojs3.stemformatics.org.

Please note that you can use biojs2.stemformatics.org instead for the moment.

I'm pretty sure I've just screwed docker over on biojs1.stemformatics.org

[2018-01-07 00:25] rowlandm commented on #17
I've created biojs3.stemformatics.org with 30GB of space.

You should have the password now too @DennisSchwartz
We may need to document the exact build instructions so I can clean up my mess a bit better next time.

[2018-01-07 00:26] rowlandm commented on #17
@yochannah  - you have access too.

[2018-01-07 17:30] DennisSchwartz commented on #17
@rowlandm Ah sorry! I just saw this.

This is a problem with docker. I think the workmen isn't really using a database and instead is just storing stuff on disk.

I restarted it on biojs1 but I'll move it to the 3.

Also, I'm running the docker container manually which isn't the best really. I'll need to look into Kubernetes or Docker Swarm or sth.

[2018-01-07 17:31] DennisSchwartz commented on #17
It's up again for now, so closing this issue.

[2018-01-07 17:31] #17 closed, assigned to rowlandm, DennisSchwartz

[2018-01-07 17:45] DennisSchwartz commented on #17
It's now running on biojs3 as well and the DNS has been updated.

[2018-01-11 02:23] rowlandm opened #18 "Google Summer of Code Plan of attack"
Hi All,

Yo and I had a quick talk about the Google Summer of Code.

We discussed a joint Stemformatics and BioJS application, as the OBF doesn't seem to have much energy that we can see in providing us with an umbrella organisation. This is because it may be better to have a few organisations under the one umbrella to get a better chance of being selected.

Other options discussed were:
a) BioJS

[2018-01-11 02:25] rowlandm commented on #18
- Backend project will include DevOps.
- Splash page, LIbrary/metadata search, landing page for each component, visualisation and education.
- Provide expectations in the project plan for how to apply.

[2018-01-11 03:52] rowlandm commented on #18
Comment from @manuelcorpas

We have been successful in the past on our own, in fact this was what led to BioJS 2.0.

[2018-01-12 18:20] rowlandm opened #19 "Test script to setup a new workman server on Ubuntu"
Dennis did some great work starting up a new BioJS workman (to provide the backend infrastructure to do the visualisations).  We would like someone to test an installation script to see if we can build it from a brand new installation of Ubuntu.

#!/bin/bash
echo "Updating packages..."
sudo apt update
sudo apt upgrade
echo "done"
echo "Installing docker..."
sudo apt install docker.io
sudo usermod

[2018-01-12 18:21] rowlandm commented on #19
If anyone wants to test this, please also let us know which version of Ubuntu you ran it on. Ideally 14.04 LTS would be great.

[2018-01-13 08:24] rowlandm commented on #18
Based on Manny's comments - I'd be happy for BioJS to apply separately.

[2018-01-13 13:17] yochannah commented on #19
Some further notes:

## Background:

The BioJS Registry workmen server searches npm for packages tagged `biojs` and `bionode` (see the [README](https://github.com/biojs/registry-workmen/blob/master/README.md) and stores them in a database to power the biojs registry.

## Task
- On ubuntu without docker or the workmen set up, run
  - If everything works, brilliant! comment and let us know it's good

[2018-01-13 13:42] yochannah commented on #18
I'm more inclined towards a shared / umbrella style org (see the note here: https://google.github.io/gsocguides/mentor/org-application ), but if you're willing to do the application then I'll not argue ;)

I will happily volunteer to be a secondary org admin and / or mentor for one of the two projects, but I don't have time to be a primary mentor, as I'll (hopefully) have a student of my own throu

[2018-01-13 14:06] yochannah commented on #16
##  To pick this task up

1. Leave a comment on the issue saying you're interested in picking it up!
2. Fork the [sniper](https://github.com/biojs/sniper) package and upgrade the dependency version for the package `ecstatic` to be at least version 2.0.0. If any errors come up, try to fix them.
3. Run through the commands in the [sniper readme](https://github.com/biojs/sniper/blob/master/README.md)

[2018-01-13 16:25] yochannah opened #20 "Revive BioJS edu tutorials"
[Biojs.edu](http://edu.biojs.net/)

I tried generating a static version to get back up on gh-pages. Didn't go as well as I'd hoped:

- we can't automatically build it in jekyll on gh-pages because it uses a bunch of custom tags and plugins
- it's set up to auto deploy to amazon s3 which isn't a great idea without anyone who wants to pay for it.
- If you try to generate a static version to manually

[2018-01-13 19:13] rowlandm commented on #18
Hi Yo - I didn't see that document before - that's great to clarify.

If that's the case, I would strongly suggest to have an umbrella application. It's pretty much the same work anyway but at least we would have more than one organisation tied to it.

Is there any other organisation who would want to join, even if they were applying as a separate organisation?

[2018-01-13 19:17] rowlandm commented on #19
Extra bonus point:

Create an Ansible script that will also setup the Ubuntu server:
1/ create multiple users with password-less logins (ssh public keys only) and sudo access
2/ setup automatic security updates but not reboot automatically

Recommend Ansible as Stemformatics will be able to help support with any questions as we use it. Happy to look at other options if someone is super keen.

[2018-01-13 19:49] Gersho commented on #19
tested on ubuntu 16.04 ( ubuntu-16.04.3-server-amd64.iso )
the apt commands need -y for autoaccept
also there is permission issues :
[code]
complete log:
[output.txt](https://github.com/biojs/organisation/files/1628698/output.txt)

ps: i've never used docker and don't know how this is supposed to work, so i'm only reporting what the console told me :P

[2018-01-14 01:08] DennisSchwartz commented on #19
Hi @Gersho,

thanks for taking a look!

How did you run the script?
Unfortunately it needs `sudo` to run docker and the user needs to be added to the `docker` group.
That error message looks like the one you get when you aren't part of the docker group. Maybe I need to update the script or something.

@rowlandm I had to remove the GITHUB_TOKEN from the script. That was my own and we should probabl

[2018-01-14 02:17] rowlandm commented on #19
What exactly is the github token used for?

This is why I say that Ansible can replace Docker, but Docker can't replace Ansible!

We have biojs1 and biojs3 working with the workman so I think we are kind of covered for now.

[2018-01-14 02:21] DennisSchwartz commented on #19
It's used to get the 'stars' and github information for the registry.

My experience with ansible wasn't the best haha. But I don't mind using it if you can take the lead and give me an intro.

For now I'm just using what I know.

[2018-01-14 02:22] Gersho commented on #19
Hi
i've scp'd the script onto my Ub 16.04 VM and ran the script there without specific privileges (i noticed the first few lines had sudo included so i assumed it was okay)

i have plenty of VM clones so feel free to mention me when you want to test your next version
ps:  i've received an email but i couldn't find the post in my github feed, sorry i'm new here xD

edit: the VM is a clean install o

[2018-01-14 02:24] DennisSchwartz commented on #19
That sounds about right 🤔  So I'll have to update it somehow. I'll give it a go tomorrow or so.

And don't worry haha, you found it in the end ;)
Your help is much appreciated.

[2018-01-14 02:30] rowlandm commented on #19
no worries @DennisSchwartz

I think to do it properly (Ansible) it will take a bit of time. At the moment we just have to reduce our risk by having multiple servers running so that if one falls over we can just use another.

Where is the main site being served from now? I forgot. We could potentially create a duplicate on biojs2.stemformatics.org.

Thanks for the help @Gersho ! Much appreciated!

[2018-01-14 18:54] DennisSchwartz commented on #20
Hi @yochannah !
I wasn't aware this was down, it wasn't hosted on Heroku so I didn't think it would be affected.

Do you have an idea how much changes we would need to deploy it on gh-pages?
If it's easier to make a static version, I'm totally down for that. It's not really changing much anyway at the moment.

[2018-01-14 18:55] DennisSchwartz commented on #3
I'm currently working on this in https://github.com/biojs/workman

[2018-01-14 18:56] DennisSchwartz commented on #15
Thanks @rowlandm. Hope you had a good break too ;)

I think we can close this one

[2018-01-14 18:56] #15 closed, assigned to nobody

[2018-01-14 19:04] DennisSchwartz commented on #5
I would say this is done for now. For new work to be done, we should create a new issue.
Please re-open if you disagree @yochannah @rowlandm

[2018-01-14 19:04] #5 closed, assigned to nobody

[2018-01-14 19:29] DennisSchwartz opened #21 "Set up contribution infrastructure for biojs repos"
# Background

We should set up a formal process for contributing to biojs code repos.
That means the workman, the websites etc.

All input on this discussion is welcome. If there aren't any objections I will implement the process we use at [Repositive](https://github.com/repositive/) and that seems to work very well for us.

# Overview

- The master branch is protected. Contribution can only happe

[2018-01-15 10:16] yochannah commented on #20
@DennisSchwartz After a quick review of things on Saturday afternoon- there are a lot of custom tags for formatting code, plus the ruby code for generating the links between different lesson series. Possibly other things as well :(

Using rowland's server is likely to be the fastest option

[2018-01-15 10:43] ljgarcia commented on #18
In order to apply as an umbrella, we need to show multiple organizations/institutions backing it up, do not we? I am not sure we have all that support right now. Yo, do you think Intermine would go for a join application under the BioJS umbrella? What about Stemformatics? Or maybe, should we look to join another group such as Galaxy? I kind of remember this as a possibility from our BoF meeting in

[2018-01-15 10:45] rowlandm commented on #18
Stemformatics would definitely be part of this. I also want to see if
InnateDB would be part of it, but I haven't asked them yet.

Would UniProt be interested?

Regards,

*Rowland Mosbergen | Stemformatics Project Manager*

Centre for Stem Cell Systems

Department of Anatomy and Neuroscience | Faculty of Medicine, Dentistry and
Health Sciences

Room 1.36, Level 1, Kenneth Myer Building

The Univer

[2018-01-15 10:53] ljgarcia commented on #18
What would be required to back up the application? We might get some interest from InterPro as well, @4ndr01d3 what do you think?

[2018-01-15 11:11] DennisSchwartz commented on #18
I'm interested in that as well. I'm happy to present this to my boss as well if I know what it entails. He would probably be interested.
We just got a new office, we might be able to spare a desk for a Student ;)

[2018-01-15 11:43] rowlandm commented on #18
Probably a willingness to put your oganisations name in the application and
also submit a project for the Project page.

In terms of details for the project, I have written up some for
Stemformatics that you can check out here:
https://docs.google.com/document/d/1zcuCTUMqbR7QFrUaGmxYGD_iKt8XCK6a35RtN6GGUC0/edit#heading=h.6egttnvbi2gu

Regards,

*Rowland Mosbergen | Stemformatics Project Manager*

[2018-01-15 12:17] yochannah commented on #18
@ljgarcia InterMine will be applying as its own organisation this year probably, although in the chance we didn't get in and biojs did we might come humbly begging for some spots ;)

@DennisSchwartz Physical desk spots aren't required for gsoc, although if you *do* end up with someone physically proximate, there's no reason for them not to visit/come to work in person.

@ everyone - I'd recommend

[2018-01-15 12:40] yochannah commented on #18
@ljgarcia re galaxy - last year Galaxy used the [Open Genome Informatics](https://summerofcode.withgoogle.com/archive/2017/organizations/4997812655751168/) organisation (same umbrella org that InterMine used.) At this point in time we haven't heard from Open Genome Informatics so I'm not sure what will happen this year! I'll try to find out if they're planning to run again - if not maybe we can in

[2018-01-15 15:00] WVik commented on #16
@wilzbach Hello! I was working on this issue but I'm stuck. I partly understand how the CLI works. To get an idea of how sniper works, I locally tried playing around with this repo: https://github.com/wilzbach/msa
Will I have to create my own snippet and render it after changing package.json to test whether everything is working fine or not?

[2018-01-16 00:09] rowlandm opened #22 "BioJS Monthly Community Call for January 2018"
BioJS Monthly Community Call (10.30am GMT  on the fourth Thursday of every month)

Using emails from the BioJS Internal Google Group. Please email rowland@stemformatics.org if you cannot remove yourself from the list.

Link to meeting room:
https://unimelb.zoom.us/j/6552003787

https://groups.google.com/forum/#!forum/biojavascript

Or join Zoom by phone:
    Dial: +61 2 8015 2088
    Meeting ID: 6

[2018-01-16 00:09] rowlandm commented on #22
Calendar here:
https://www.timeanddate.com/worldclock/meetingdetails.html?year=2018&month=1&day=25&hour=10&min=30&sec=0&p1=136&p2=152&iv=1800

[2018-01-16 11:12] yochannah commented on #10
I think these are all resolved.

[2018-01-16 11:12] #10 closed, assigned to nobody

[2018-01-16 11:14] yochannah commented on #18
Update - OBF *will* be applying with any project ideas PRed by the 20th: https://github.com/OBF/GSoC

[2018-01-17 19:37] rowlandm commented on #18
OK - I'll be trying to write those two projects up on the weekend.

On Tue, Jan 16, 2018 at 10:14 PM, Yo Yehudi <notifications@github.com>
wrote:

[2018-01-23 21:33] alkesh47 commented on #4
@rowlandm @yochannah I would like to start working on this issue. I request you to furnish some additional info if necessary that would be important to know before I start working.

[2018-01-23 21:51] rowlandm commented on #4
Not much. The only question is how to format the data coming from ajax
calls for the tables.

El 24 ene. 2018 08:33, "Alkesh" <notifications@github.com> escribió:

[2018-01-23 22:24] alkesh47 commented on #4
@rowlandm Do you have any pointers on how to do that or shall I use the liberty of finding a solution?

[2018-01-23 22:25] rowlandm commented on #4
I'd be defaulting to using datatables.js

El 24 ene. 2018 09:24, "Alkesh" <notifications@github.com> escribió:

[2018-01-24 10:25] yochannah commented on #22
I'm not going to be able to make this unfortunately - I seem to have picked up the flue when I was in France :(

[2018-01-24 11:27] DennisSchwartz commented on #4
@alkesh47 Check out the response from `$ curl workmen.biojs.net/all`. That's what the workman currently returns for the `biojs.io` registry.

There are more routes (check out `$ curl workmen.biojs.net/` for the readme). The current front-end also uses the `/detail` route a lot which returns more data as far as I can see.

I'm currently re-writing the workman at https://github.com/biojs/workman. So

[2018-01-24 11:27] DennisSchwartz commented on #4
Also, thanks for volunteering your time to work on BioJS 🙃

[2018-01-24 13:08] alkesh47 commented on #4
@DennisSchwartz Thanks for the useful information. I will begin working on this promptly.

[2018-01-24 13:15] alkesh47 commented on #4
@DennisSchwartz I'm willing to contribute as much as I can as a GSOC 2018 aspirant 😄

[2018-01-25 10:19] rowlandm commented on #22
No worries.

[2018-01-25 10:20] rowlandm commented on #22
Hi everyone,

I don't have much of an agenda. Just mainly an update on:
- Google Summer of Code
- Fixing problems with the BioJS workmen servers
- Closing old things no longer used that someone is still paying for

[2018-01-25 10:21] rowlandm commented on #22
Just to remind everyone the Zoom meeting link is here:
https://unimelb.zoom.us/j/6552003787

[2018-01-25 10:41] rowlandm opened #23 "Document moving the workmen server to point from biojs3.stemformatics.org to biojs1.stemformatics.org"
Document moving the workmen server to point from biojs3.stemformatics.org to biojs1.stemformatics.org

[2018-01-25 10:54] rowlandm commented on #22
- AWS has been shutdown
- GSuite we are trying to shutdown, we have emailed Manny about this
- We should check Heroku to see if there is an account outstanding

[2018-01-29 20:55] alkesh47 commented on #4
@DennisSchwartz Shall I create a new repo for tackling this task or is their one you want me to proceed on? Also can you please elaborate the plan of attack for this problem as well?

[2018-01-29 21:55] DennisSchwartz commented on #4
@alkesh47 Sorry, I meant to look at this on the weekend.

I think it depends. Do you have a preference on the technology you'd like to use?
The current, temporary, landing page is this one: https://github.com/biojs/biojs.github.io

For us it would be easiest if we can host it on Github, but that would require the page to be built using Jekyll.
There are ways to use other technologies and then make

[2018-01-29 22:08] alkesh47 commented on #4
@DennisSchwartz Well I was thinking maybe we could use Angular and find out a different way to host?

[2018-01-30 00:52] rowlandm commented on #4
Happy to run with that - we can host on NecTAR VMs eventually ...

[2018-01-30 22:17] alkesh47 commented on #4
@DennisSchwartz  @rowlandm I have prepared a basic layout for the frontend portion of the website. I would be glad if you reviewed it and provide advise and feedback on the same https://github.com/alkesh47/Flowerhorn
I plan on using Angular as the javascript framework. Is there anything that I need to know which may prove useful in the future development process?

[2018-01-30 22:23] rowlandm commented on #4
Would you consider vuejs? I know of two or three groups migrating to it,
including ours.  We favor it as it's lightweight but still separates html
from js. Angular is considered a heavy solution.

It's tricky as we need to balance what our contributors want to do/ have
the skillset to do versus maintainability and readability of the code.

I am not sure what is the best way forward. I think since

[2018-01-30 22:24] rowlandm commented on #4
Also, I would rule out react due to their implicit message behind their
licensing.

El 31 ene. 2018 09:23, "Rowland Mosbergen" <rowland@stemformatics.org>
escribió:

[2018-01-30 22:29] alkesh47 commented on #4
@rowlandm @DennisSchwartz Well honestly I too was thinking that Angular might be an overkill for this solution, so VueJS would be the most preferred option. Also I have more experience with VueJS so it would be comparitively easier to implement in Vue rather in Angular.

[2018-01-31 10:31] ljgarcia commented on #4
React is currently under MIT, is not it?

vue.js seems a good option too, and yes, Angular is probably too heavy
in this case

On 30/01/2018 22:24, rowlandm wrote:

[2018-01-31 11:40] rowlandm commented on #4
just a side note around React...

https://www.theregister.co.uk/2017/08/21/facebook_apache_openbsd_plus_license_dispute/

Regards,

*Rowland Mosbergen | Stemformatics Project Manager*

Centre for Stem Cell Systems

Department of Anatomy and Neuroscience | Faculty of Medicine, Dentistry and
Health Sciences

Room 1.36, Level 1, Kenneth Myer Building

The University of Melbourne, Victoria 3010 Austra

[2018-01-31 13:01] yochannah commented on #4
They changed it following the uproar - like @ljgarcia says it's now MIT:

https://www.theregister.co.uk/2017/09/26/facebook_license_surgery_on_react/

[2018-01-31 13:30] alkesh47 commented on #4
@DennisSchwartz @rowlandm So what's the final say? Which one should we roll with?

[2018-01-31 14:21] DennisSchwartz commented on #4
I don't mind. I like both vue.js and react from what I have heard from our front-end people here.
My personal preference would be React, just because I meant to get into it for a while ;)

So I think it's your choice between those two, unless @rowlandm has something to say on this :)

[2018-01-31 14:23] DennisSchwartz commented on #4
Also, I looked at your design/layout(https://github.com/alkesh47/Flowerhorn) and it's looking really cool!

[2018-01-31 21:01] rowlandm commented on #4
If it was my call, I would lean towards Vue. Alkesh has the experience,
it's lightweight and I don't think ReactJS is open source
<https://medium.com/@raulk/if-youre-a-startup-you-should-not-use-react-reflecting-on-the-bsd-patents-license-b049d4a67dd2>

Dennis, you would probably be helping to maintain it - so I think it's your
call.

Regards,

*Rowland Mosbergen | Stemformatics Project Manager*

[2018-02-01 09:10] 4ndr01d3 commented on #4
Hey Rowlan,
I guess you didn't see the update on the top of the article you are
sharing... Nonetheless if Alkesh is experienced in Vue and he is interested
in working on it, I don't see why no.

On Wed, Jan 31, 2018 at 9:01 PM rowlandm <notifications@github.com> wrote:

[2018-02-01 09:43] DennisSchwartz commented on #4
If everyone is ok with Vue, then let's go with that :)

[2018-02-01 11:33] alkesh47 commented on #4
Then Vue it is :)
@DennisSchwartz  @rowlandm So how shall we approach this issue? I guess the best way to tackle this would be to follow the MVP approach.

[2018-02-01 18:44] rowlandm commented on #4
Minimum Viable Product? Always :D

As Dennis said before, see if you can re-use the data that the current
module list uses just to be able to kick things off.

Then you should be able to see what is really needed.

Then you would have to do some profiling to see where the speed slowdowns
occur.

That's my suggestion.

Regards,

*Rowland Mosbergen | Stemformatics Project Manager*

Centre for Stem C

[2018-02-02 13:01] alkesh47 commented on #4
@rowlandm Sure thing, I'll see what I can salvage and start some profiling.

[2018-02-05 09:23] DennisSchwartz commented on #4
Aw crap, I meant to send this on Friday but got distracted and forgot about it:

I can tell you that currently the API call to get the list of components is quite slow (seconds). The backend generates one big json object and sends it as a HTTP response. And it's currently not using a database, so it's doing a new search every time.

The new backend I'm working on now, will respond as a stream resp

[2018-02-05 09:24] rowlandm commented on #4
Are you sure you're OK doing this Dennis?

I'm happy with the speeds until we can get someone on it via GSOC?

Regards,

*Rowland Mosbergen | Stemformatics Project Manager*

Centre for Stem Cell Systems

Department of Anatomy and Neuroscience | Faculty of Medicine, Dentistry and
Health Sciences

Room 1.36, Level 1, Kenneth Myer Building

The University of Melbourne, Victoria 3010 Australia

*T: *+

[2018-02-05 09:28] DennisSchwartz commented on #4
That part is already done ;) But don't worry, there is plenty of work to do. But I think it would be good for a backend GSoC project to build on what's there already :)

[2018-02-05 20:36] alkesh47 commented on #4
@DennisSchwartz If you're returning stream responses from the backend, we can implement them on the front end either by using infinite scroll using vue watchers or by using something like [Clusterize.js](https://clusterize.js.org/) In our case, I guess the former would be a better choice. But again the choice boils down to our preference of how we want the data to be displayed on the front end.

[2018-02-12 17:07] rowlandm commented on #23
I think that is the other way around. pointing from biojs1 to biojs3

[2018-02-12 17:12] rowlandm opened #24 "Unstable workmen"
Hi all,

This is the second or third time this has fallen over in the last 3 months. That is very unstable. I can't tell if it's

I think we need to be very aware of reliability and maintainability when we make our software architecture choices. We don't have a lot of contributors so I think we need to prioritise this over anything else, even contributor preferences.

What are your thoughts @Denni

[2018-02-12 20:43] alkesh47 commented on #4
@DennisSchwartz @rowlandm Congrats on getting selected for GSOC 2018 ! 😄
Shall I begin working out a detailed plan and start preparing a rough prototype based on our current findings, or would you rather want me to get more familiar with the codebase and fix some issues?

[2018-02-12 20:53] rowlandm commented on #4
I think a high level plan that also includes what we decide for our architecture. I think we need to focus on reliability and maintainability as we write up that plan. If the biojs goes down it needs to be easy to troubleshoot for people who didn't write it.

[2018-02-12 20:53] rowlandm commented on #4
Oh and thanks!

[2018-02-12 21:00] alkesh47 commented on #4
Ok, I'm on it

[2018-02-13 12:11] yochannah commented on #24
Is our feeling that it's to do with the workmen server itself or the infrastructure? I'm not close enough to the technical side to make a verdict. If we think it *is* infrastructure, we might be able to apply for help: http://osuosl.org/services/hosting/

[2018-02-13 20:56] rowlandm commented on #24
It's definitely the docker/workmen server. The VM is still running and
seems fine.
On Tue, Feb 13, 2018 at 11:11 PM, Yo Yehudi <notifications@github.com>
wrote:

[2018-02-15 09:36] rowlandm commented on #24
I fixed it for now with:

`  102  docker rm workmen
  103  docker run --name=workmen -e GITHUB_TOKEN=4f5c492f909d1013576a411a39915348a4743b15 -e NODE_ENV=production -p 80:5000 -p 443:5000 --network=workmen -d biojs/workman`

[2018-02-15 09:37] rowlandm commented on #24
docker ps - brought up nothing
docker workmen was still there so I had to remove it
docker rm workmen

docker run --name=workmen -e GITHUB_TOKEN=<insert_token_here> -e NODE_ENV=production -p 80:5000 -p 443:5000 --network=workmen -d biojs/workman

[2018-02-15 09:58] #22 closed, assigned to nobody

[2018-02-15 09:59] #18 closed, assigned to nobody

[2018-02-15 09:59] #7 closed, assigned to nobody

[2018-02-15 10:00] rowlandm commented on #14
I'm going to close this as we haven't had much discussion.

[2018-02-15 10:00] #14 closed, assigned to nobody

[2018-02-15 10:03] rowlandm opened #25 "February BioJS Monthly Community Call 22nd February 2018"
BioJS Monthly Community Call (10.30am GMT on the fourth Thursday of every month)

Calendar link here:
https://www.timeanddate.com/worldclock/meetingdetails.html?year=2018&month=2&day=22&hour=10&min=30&sec=0&p1=152&p2=136

Link to meeting room:
https://unimelb.zoom.us/j/6552003787

Link to chatroom
https://gitter.im/biojs/biojs

Or join Zoom by phone:
Dial: +61 2 8015 2088
Meeting ID: 655 200 3787

[2018-02-15 10:11] rowlandm commented on #25
Agenda items:

- Google Summer of Code
- Workmen issues
- What other things do we have to close off eg. biojs.edu?

[2018-02-16 12:50] yochannah commented on #3
I've removed the help wanted label as I don't think a newcomer could come and pick this issue up easily - it's too over-arching.

[2018-02-16 12:52] yochannah commented on #20
GSoC applicants - if you'd like to try getting the edu docs to generate statically so we can upload to gh-pages, that would be very welcome!

[2018-02-19 04:40] sarthak-sehgal opened #26 "Text overflow at various places in biojs.io"
## Issue
The text is exceeding the circle boundary as you can see here:
![biojs issue 1](https://user-images.githubusercontent.com/29003134/36362708-24483eb2-155d-11e8-9dab-90664cb4431f.png)

## Suggested fix
A circle will either grow bigger to adjust the text or we will have to decrease the text size. Neither of the solutions seems to be a good fix.
I suggest that the UI should be something like

[2018-02-19 04:47] sarthak-sehgal commented on #26
@yochannah @rowlandm
Would like to work on this if this is an appropriate issue.

[2018-02-19 05:12] rowlandm commented on #26
I like the darker background colour.

That's fine to work on Sarthak.

[2018-02-22 11:31] rowlandm commented on #25
Attendees:
Yo
Dennis
Rowland
Sarthak

Discussion:
- Need to find the right balance for the backend. Do we keep Dennis' work and train up Yo and Rowland or do we go with something that Rowland knows (eg. Pyramid/Postgres) as Rowland seems to have the most bandwidth for maintenance
- Rowland mentioned that Dennis should focus on doing as little as possible (ie. maintenance) so that we have him fresh

[2018-02-24 11:22] fireballpoint1 commented on #26
How about doing a round off like 18k for the first case and we can put the real value on hover?
@rowlandm
We can retain the disc background in that case

[2018-02-24 12:31] sarthak-sehgal commented on #26
@fireballpoint1, I think putting numbers (or something else dynamic) in a circle is never a good idea. If you round it off, it will create an issue when it further increases (e.g.: 100k).
Also, I suggested the change in the background color to increase the contrast with the text color so anyhow we will have to change it. :)

[2018-02-25 00:54] alkesh47 commented on #20
@yochannah Is static generation of the edu docs the only reason that's preventing the generation on gh-pages or is there something else too?

[2018-02-26 09:48] yochannah commented on #20
@alkesh47 there are plugins that generate links for the tables of contents and generate code highlighting - but github doesn't support most jekyll plugins.

[2018-02-26 09:53] alkesh47 commented on #20
@yochannah Do we need to stick to gh-pages for hosting? If it doesn't support the plugins then there is a possibility that we could migrate to some other hosting provider?

[2018-02-26 10:03] yochannah commented on #20
Ideally it would be nice if we could get it on to gh-pages, because other
hosting generally costs money (that's the reason biojs.edu) is down right
now :( failing that, we could probably put it on the same servers that we
are using for the registry right now.

On 26 February 2018 at 09:53, Alkesh Srivastava <notifications@github.com>
wrote:

[2018-02-26 10:12] alkesh47 commented on #20
No I don't mean some fancy pricy ones, I meant something like gitlab pages, netlify etc. The main concern of mine is that beyond the pricing option, is there anything else that's preventing us from choosing a different (free of cost) hosting provider.

[2018-03-02 18:12] r0hit-gupta commented on #4
Hello everyone, I just tried designing a mock for the registry UI. Please let me know your thoughts and suggestions. I would love turning this prototype into a working product.

<img width="1280" alt="homescreen" src="https://user-images.githubusercontent.com/16841686/36914118-2f45d16c-1e72-11e8-9f1d-b990a7a06b3d.png">

[2018-03-02 20:24] rowlandm commented on #4
that looks quite clean
what would the front page look like?

[2018-03-03 21:26] rowlandm opened #27 "Tips for GSoC 2018 students"
Hi there,

I have put together a few things around what we are looking for in our GSoC 2018 students:

https://docs.google.com/presentation/d/1LbkgW07l5yKYneAzQFhYQOHup6JCPXlLJ9bJPtBI4Qg/edit#slide=id.p

Please have a look and if you have any comments, you can add them into the document or add them here.

[2018-03-05 11:44] yochannah commented on #27
Hey Rowland - looks good!

[2018-03-20 04:24] rowlandm opened #28 "BioJS Monthly Community Call for March 2018"
https://www.timeanddate.com/worldclock/meetingdetails.html?year=2018&month=3&day=22&hour=10&min=30&sec=0&p1=152&p2=136

BioJS Monthly Community Call (10.30am GMT on the fourth Thursday of every month)

Link to meeting room:
https://unimelb.zoom.us/j/6552003787

Link to chatroom
https://gitter.im/biojs/biojs

Or join Zoom by phone:
Dial: +61 2 8015 2088
Meeting ID: 655 200 3787
International number

[2018-03-20 04:26] rowlandm commented on #28
Please write down any agenda items:
1. Infrastructure update - Rowland
2. Google Summer of Code update - Rowland

[2018-03-20 17:16] abhinavvisen commented on #4
Hello, fellow DevNinjas.I am happy to be the part of this organization and contribute towards the project.Now coming to the current discussion according to my point of view "vuejs" is lighter compared to angular and React.We can say that Vuejs is sort of big brother of angular with more power and easy handling.Rest , whatever the whole developers and the mentors are comfortable with we could go wi

[2018-03-20 18:02] abhinavvisen commented on #26
@sarthak-sehgal @rowlandm how about instead of notifying the number of downloads ,can we go with the dynamic popups.

[2018-03-20 20:35] rowlandm commented on #4
What's a DevNinja? :)

I think we would probably stick with Vue - it's getting a fair bit of support here and in the networks that I know of.

[2018-03-20 20:37] rowlandm commented on #26
Welcome @abhinavvisen

Sorry - I'm not quite sure what you mean there?

Did you mean hover over?

[2018-03-21 12:11] abhinavvisen commented on #4
Its actually sort of Ninja Developers :)

@rowlandm No problem I am ready to go with Vue.

[2018-03-21 12:13] r0hit-gupta commented on #4
@abhinavvisen thank you 😃. Please let us know if it can be improved in some manner.

[2018-03-21 12:15] abhinavvisen commented on #4
@r0hit-gupta Sure.Actually I have some things in my mind.I will let  know as soon as possible.

[2018-03-21 15:02] abhinavvisen commented on #26
@rowlandm Yes i was thinking of that.
By the way sorry for late response.:)
I am working on a mockup right now.It will be clear when i am done with it.

[2018-03-22 07:32] rowlandm commented on #28
From last months call:
https://github.com/biojs/organisation/issues/25

[2018-03-22 07:32] #25 closed, assigned to rowlandm

[2018-03-22 10:53] rowlandm commented on #28
3. Joining the OBF? Yes, we should.

[2018-03-22 10:59] rowlandm commented on #28
4. Get Yo into biojs3.stemformatics.org.

[2018-03-22 11:04] rowlandm commented on #28
Agenda 1. Resetup biojs1 and biojs2 with larger space - ensure Yo and Dennis are available.

[2018-03-22 11:10] rowlandm commented on #28
2. GSoC - private mentors talk. Talked about OBF slots.

[2018-03-22 11:19] rowlandm commented on #28
Actions Items:
1. Rowland: Get Yo into biojs3.stemformatics.org
2. Yo: Petition to get BioJS into the OBF
3. Rowland: Resetup biojs1 and biojs2 with larger space - ensure Yo and Dennis are available.
4. Everyone: organise to catchup online after the GSoC project proposal deadline closes.

Other comments:
1. Need to ensure that if Rowland was to leave, that Isha from Stemformatics could help suppor

[2018-03-22 11:50] ljgarcia commented on #28
Hi all,

Sorry to miss the call today but it clashed with another activity. I'm
glad to see how well you're doing, great job!

Cheers!

On 2018-03-22 11:19, rowlandm wrote:

[2018-03-23 00:14] abhinavvisen opened #29 "Options availaible on secondary biojs-registry page do not work"
![image](https://user-images.githubusercontent.com/14180717/37804969-3b62ab5a-2e5d-11e8-9560-6f64b337efa0.png)
The options (New Window,Edit(JSBin),Edit (Codepen),Edit(Plunker),All) do not respond and always go to a blank page.

[2018-04-08 14:22] yochannah opened #30 "biojs/biojs repo - what to do?"
There is a comprehensive and highly out of date readme on the [biojs](https://github.com/biojs/biojs/) repo. Ideas:

1. remove most of it and update with only relevant / current things.
2. Review everything and update / delete as needed (most work)
3. add a note in big bold red at the top telling people to ignore the repo as it's old and come to the organisation repo
4. Other?

If any community co

[2018-04-08 14:54] alkesh47 commented on #30
But someone would be working on this during the GSOC period. So I guess it would be updated anyways during that time to incorporate the newer changes.
But I would understand if you would want to update the readme for the time being. Is that the reason for updating it?

[2018-04-26 09:53] rowlandm opened #31 "April Community Meeting notes"
https://www.timeanddate.com/worldclock/meetingdetails.html?year=2018&month=4&day=22&hour=10&min=30&sec=0&p1=152&p2=136

BioJS Monthly Community Call (10.30am GMT on the fourth Thursday of every month)

Link to meeting room:
https://unimelb.zoom.us/j/6552003787

Link to chatroom
https://gitter.im/biojs/biojs

Or join Zoom by phone:
Dial: +61 2 8015 2088
Meeting ID: 655 200 3787
International number

[2018-04-26 09:53] rowlandm commented on #31
Also: Resetup biojs1 and biojs2 with larger space - ensure Yo and Dennis are available.

[2018-04-26 09:56] yochannah commented on #31
Also, galaxy grant...

On Thu, 26 Apr 2018, 10:53 rowlandm, <notifications@github.com> wrote:

[2018-04-26 10:23] yochannah opened #32 "BioJS + Galaxy integration"
Starting this ticket as notes for future biojs / galaxy integration work if it happens. Here's an old post, unfortunately only available via the wayback machine:
https://web.archive.org/web/20160618054053/http://www.benjamenwhite.com/2015/07/biojs2galaxy-a-step-by-step-guide/

[2018-04-26 10:47] rowlandm commented on #31
Action items:
- Isha to get access to Megh for BioJS server (Sarthak's)
- Share the github repos inside the BioJS Organisation
- Sarthak and Megh to create a blog post with links to github repos

[2018-04-26 10:49] DennisSchwartz commented on #31
* Set up development workflow for GSoC
    * Move repos to biojs organisation
    * Formalise process to review and deploy code

[2018-04-26 11:12] rowlandm commented on #31
- Ask Kai and Bjoern to see if they want to catchup next time. cc' in Leyla

[2018-04-26 11:13] rowlandm commented on #31
- Let Sarthak and Megh decide on what framework/language to use on the backend.

[2018-04-26 20:21] bgruening commented on #31
sorry, could not join today :(

[2018-04-27 00:33] rowlandm opened #33 "security vulnerability: hoek"
rowlandm,
We found a potential security vulnerability in a repository for which you have been granted security alert access.

@biojs	biojs/workman
Known moderate severity security vulnerability detected in hoek < 5.0.3 defined in package-lock.json.
package-lock.json update suggested: hoek ~> 5.0.3.
Always verify the validity and compatibility of suggestions with your codebase.

http://sgmail.githu

[2018-04-27 08:45] DennisSchwartz commented on #33
I got the same message. Seeing as we'll be replacing the workman in the next few months I think we can probably ignore this for now. But if you think we should take care of it, I might be able to have a look on the weekend.

[2018-04-27 08:53] yochannah commented on #33
Given that the workman server doesn't actually store any personal data or
take any inputs, I assume the worst-case scenario is that the website might
be defaced or changed in some way? If that's true it seems like a low
concern to me.

On 27 April 2018 at 09:45, Dennis Schwartz <notifications@github.com> wrote:

[2018-04-27 09:08] DennisSchwartz commented on #33
Yep. Plus it's now running in a docker container on our own server. We can always just restart it or move it.

[2018-04-27 09:29] rowlandm commented on #33
Agreed. Lets skip this

El vie., 27 de abr. de 2018 18:53, Yo Yehudi <notifications@github.com>
escribió:

[2018-04-30 14:57] DennisSchwartz commented on #24
This is the error causing it to crash:

[code]

It's a database issue. Not sure if it's worth looking into anymore.

[2018-05-01 00:24] rowlandm commented on #24
Leave it for now. Sounds a bit dodgy given how tiny the data is.

[2018-05-16 11:00] DennisSchwartz commented on #3
Since we now have GSoC Students working on this, I'm going to close this issue for now. Please feel free to re-open if you disagree.

[2018-05-16 11:00] #3 closed, assigned to nobody

[2018-05-16 11:03] DennisSchwartz opened #34 "SSL certificate about to expire on biojs1.stemformatics.org"
I have received this email today:

[code]

Does anyone know how we got the certificate in the first place? And if this could be a problem?
The workman is running on biojs3 at the moment anyway.

[2018-05-16 11:19] Megh-Thakkar commented on #34
Let's encrypt works on a service called certbot. Afaik, running
[code]
will renew all the ssl certificates on the server system.

A while ago, I saw a blog post that said that Lets Encrypt had put a halt on providing ssl certificates. You would might like to have a look on that.

[2018-05-16 11:28] DennisSchwartz commented on #34
Thanks @Megh-Thakkar! I was going through the console history an couldn't find certbot anywhere which is why I asked here.

I just ran it now and it's throwing an error:

[code]

Not even sure we need the certificate at this point. 🤔

[2018-05-16 11:40] rowlandm commented on #34
I'm not getting anything on:
https://biojs3.stemformatics.org/

[2018-05-16 11:52] Megh-Thakkar commented on #34
@DennisSchwartz can you make sure you have the required root permissions? Check out the first answer [here](https://stackoverflow.com/questions/16996125/no-usable-temporary-directory-found)

[2018-05-16 12:14] DennisSchwartz commented on #34
Thanks again! It was actually the disk space that was missing :)

[code]

[2018-05-16 12:14] #34 closed, assigned to nobody

[2018-05-18 09:17] DennisSchwartz opened #35 "Biojs.net is down!"
Since last night at 8pm BST the biojs.net landing page is down.

[code]

I suspect this PR (https://github.com/biojs/biojs.github.io/pull/1) might be the problem. I can't reverse it automatically.
We might have to check what happened there.

I'll have some time tonight but probably not before.

[2018-05-18 09:27] yochannah commented on #35
Good spot, Dennis.

It looks like the domain name wasn't set up in github pages after the pull.
Fixed now, but the homepage is full of boilerplate. I'll work on that.

On Fri, 18 May 2018 at 10:18, Dennis Schwartz <notifications@github.com>
wrote:

[2018-05-18 09:29] DennisSchwartz commented on #35
Thanks Yo!

But I seemed to miss the fact that we were planning to replace the landing page with the blog? Maybe we had some miscommunication there. Would be good to talk about that.

[2018-05-18 09:38] yochannah commented on #35
Agreed, plus perhaps a clearer PR review process.

I'll make what's there now into a less placeholder look and we can discuss
want we want to take forward later.

On Fri, 18 May 2018 at 10:29, Dennis Schwartz <notifications@github.com>
wrote:

[2018-05-18 09:39] DennisSchwartz commented on #35
Good call, thanks!

[2018-05-18 09:55] yochannah commented on #35
ok, it's by no means perfect but the "test post" is now the same content as the previous homepage. Dennis, I take it you protected the branch so it has to be reviewed before merging? Nice one.

[2018-05-18 09:55] #35 closed, assigned to nobody

[2018-05-18 09:57] DennisSchwartz commented on #35
Yep, but as you can see you can overwrite that if you're an owner ;) I might remove that loophole as well now that it's stable again.

[2018-05-18 09:57] yochannah opened #36 "BioJS homepage content vs blog"
See #35 - we need to make some decisions about what we want on the homepage vs blog & ensure there is no further boilerplate content on sub-pages.

[2018-05-18 09:57] DennisSchwartz commented on #35
Thanks a lot Yo!

[2018-05-21 11:32] yochannah opened #37 "May monthly community call - move date?"
**EDIT**: The call is now set at the 31st of May 2018.

https://www.timeanddate.com/worldclock/meetingdetails.html?year=2018&month=5&day=31&hour=10&min=30&sec=0&p1=152&p2=136

======================================

Hey everyone! The BioJS call would normally be scheduled for the 24th of May as the last Thursday of the month. I'm away this week at my brother's wedding, so was wondering if we could

[2018-05-31 10:37] yochannah commented on #20
We'll want to resurrect the edu pages - maybe by copy/pasting the content to a new page / repo that isn't so tightly coupled to the hosting like this was.

[2018-05-31 10:38] yochannah opened #38 "Create list of BioJS papers"
Where are all the previous BioJS papers? Find them and add to a list on the main website.

[2018-05-31 10:42] yochannah opened #39 "Hosting sustainability/longevity plan"
Create extra Nectar allocation separate to the STEMformatics for BioJS under rowland's personal account

[2018-05-31 10:45] yochannah opened #40 "About page content"
Additional about page content

[2018-05-31 10:54] yochannah opened #41 "GSoC 2019 ideas"
- make easy biojs scaffold with example data & tutorials (I know there's an old slush but it propbably needs to be updated) so people can create biojs components really easily

[2018-05-31 10:54] yochannah commented on #41
add other items to the list as they occur to us

[2018-05-31 10:54] #4 closed, assigned to nobody

[2018-05-31 10:54] #9 closed, assigned to nobody

[2018-05-31 10:54] #28 closed, assigned to nobody

[2018-05-31 10:55] #27 closed, assigned to nobody

[2018-05-31 10:55] #24 closed, assigned to nobody

[2018-05-31 10:55] #26 closed, assigned to nobody

[2018-05-31 10:55] #31 closed, assigned to nobody

[2018-05-31 10:55] yochannah commented on #29
We'll be replacing the registry in the next few months with a rebuilt version so closing this ticket

[2018-05-31 10:55] #29 closed, assigned to nobody

[2018-05-31 10:56] #19 closed, assigned to nobody

[2018-05-31 10:56] #13 closed, assigned to nobody

[2018-05-31 10:56] yochannah commented on #36
we've made new content for the homepage and removed teh boilerplate. closing ticket.

[2018-05-31 10:56] #36 closed, assigned to nobody

[2018-05-31 10:57] #33 closed, assigned to nobody

[2018-05-31 10:58] #23 closed, assigned to nobody

[2018-05-31 10:59] yochannah commented on #40
opened by mistake

[2018-05-31 10:59] #40 closed, assigned to ljgarcia, yochannah

[2018-05-31 10:59] #37 closed, assigned to nobody

[2018-05-31 11:13] rowlandm opened #42 "Add some official roles eg. Project Manager"
Benevolent dictator for life?

Mainly around getting everyone together.

[2018-05-31 11:16] rowlandm commented on #39
Also ask Bjoern (sp?) for servers.

[2018-05-31 11:22] yochannah opened #43 "Code of Conduct - need to add"
Ideally be inspired by OBF CoC.

[2018-05-31 11:36] yochannah commented on #37
Some quick meeting notes:

1. we've blasted through the issues and removed all the aged / complete tickets in this repo.
2. Rowland reducing hours:
    - Zoom conferencing should be fine for now, Rowland will continue to have access for the forseeable future.
    - See https://github.com/biojs/organisation/issues/39 for the hosting plan - nectar is probably fine for at least the next six months an

[2018-05-31 11:38] yochannah commented on #43
So BOSC has a CoC, usually from ISMB or this year GCC, but the OBF itself doesn't have a CoC. That said, if the OBF adopts a CoC I think it would be easiest to simply use theirs.

@ljgarcia @DennisSchwartz - does this sound ok and reasonable to you? I think @rowlandm and I like this plan.

[2018-05-31 19:22] rowlandm commented on #43
I like this plan of using the one from OBF.

On 5/31/18, Yo Yehudi <notifications@github.com> wrote:

[2018-06-01 08:26] ljgarcia commented on #43
It does make sense, yes.

On 31/05/2018 20:22, rowlandm wrote:

[2018-06-04 08:29] DennisSchwartz commented on #37
Bruno from bionode is working part-time for Repositive at the moment. I can talk to him and see if he is still working on it or who is the best person to talk to.

[2018-06-04 08:31] yochannah commented on #37
That would be great!

On Mon, 4 Jun 2018 at 09:29, Dennis Schwartz <notifications@github.com>
wrote:

[2018-06-04 08:37] DennisSchwartz commented on #43
I think it's a great idea to re-use a CoC that others (who maybe have more resources) have spend time on working out.
That being said, BOSC and ISMB are conferences right? So the Coc might be different than what we might need as an open-source community.

Do we know if the OBF is planning to adopt a Code of Conduct soon? Otherwise we could spend some time looking at the CoCs of other OSS projects

[2018-06-04 19:49] DennisSchwartz commented on #38
Maybe @manuelcorpas can help?

[2018-06-05 10:27] rowlandm commented on #19
sudo adduser user-xyz
sudo passwd user-xyz
sudo usermod -aG sudo user-xyz
sudo su - user-xyz

as user-xyz:
ssh-keygen # this creates a .ssh folder for you, just press enter
cd .ssh
vi authorized_keys
copy the public key in here
chmod 600 authorized_keys

logout, log back in as user-xyz and test

sudo ls -alh /

[2018-06-05 10:33] DennisSchwartz commented on #19
Updated script:

[code]

[2018-06-10 01:41] rowlandm commented on #38
Bioinformatics. 2013 Apr 15;29(8):1103-4. doi: 10.1093/bioinformatics/btt100. Epub 2013 Feb 23.
BioJS: an open source JavaScript framework for biological data visualization.
https://www.ncbi.nlm.nih.gov/pubmed/23435069

F1000Res. 2014 Feb 13;3:55. doi: 10.12688/f1000research.3-55.v1. eCollection 2014.
BioJS: an open source standard for biological visualisation - its status in 2014.
https://www.ncb

[2018-06-10 01:44] rowlandm commented on #43
Stemformatics code of conduct:
https://docs.google.com/document/d/1YPyFOtzDc3P_bno-9MHTnwdOOPOo7MpFpiBqqBxTksc/edit

Copied mostly from Galaxy code of counduct:
https://github.com/galaxyproject/galaxy/blob/master/CODE_OF_CONDUCT.md

[2018-06-10 01:44] rowlandm commented on #38
I think this is all of them.

[2018-06-10 01:44] #38 closed, assigned to nobody

[2018-06-11 08:54] yochannah commented on #43
I would be very happy to copy from that wholesale if everyone else is?

On Sun, 10 Jun 2018 at 02:44, rowlandm <notifications@github.com> wrote:

[2018-06-11 09:02] rowlandm commented on #43
Fine by me!

On Mon, Jun 11, 2018 at 6:54 PM Yo Yehudi <notifications@github.com> wrote:

[2018-06-27 07:02] rowlandm opened #44 "2018-06-28 BioJS Community call"
Description:BioJS Monthly Community Call (10.30am GMT  on the fourth Thursday of every month)

Please add in agenda in the comments below

https://unimelb.zoom.us/j/6552003787

https://groups.google.com/forum/#!forum/biojavascript

Or join Zoom by phone:
    Dial: +61 2 8015 2088
    Meeting ID: 655 200 3787
    International numbers available: https://unimelb.zoom.us/zoomconference?m=MB2Ciocm74cB

[2018-06-27 15:19] yochannah commented on #44
I'm going to have to pass my apologies for this one - I'm at GCCBOSC

On Wed, 27 Jun 2018, 00:02 rowlandm, <notifications@github.com> wrote:

[2018-06-28 12:03] rowlandm commented on #44
Engage with the Galaxy community before the hackathon - what kind of things would be useful for the end users?

[2018-06-28 12:03] rowlandm commented on #44
Also - how do we target BioJS component developers?

[2018-06-28 12:08] rowlandm commented on #44
Testimonials for helping BioJS - help sell the idea of helping

[2018-06-28 12:09] rowlandm commented on #44
Talking about Galaxy in the next month

[2018-06-28 14:01] ljgarcia commented on #44
Sorry I missed the call this morning. I have seen the comments, thanks
Rowland for them. Galaxy is important, yes, good to talk about it next
time.

On 2018-06-28 13:09, rowlandm wrote:

[2018-07-16 13:31] yochannah commented on #20
Looking back at this thank to a prompt from https://github.com/biojs/biojs/issues/166 - we might be able to fix by migrating the edu repo to gitlab. @rgaiacs recently let slip that the gitlab equivalent of gh-pages allows jekyll plugins, so it might be straightforward to set up if we're lucky.

[2018-07-16 13:31] yochannah commented on #20
We could also consider throwing this topic into the biohackathon later this year

[2018-07-16 14:01] rgaiacs commented on #20
Guilty. :laughing: Import https://github.com/biojs/edu into GitLab and add https://gitlab.com/pages/jekyll/blob/master/.gitlab-ci.yml to the new repository should make a version on GitLab servers. You can redirect biojs.edu to GitLab servers.

[2018-07-22 21:27] DennisSchwartz opened #45 "DNS setup new website and backend"
We will need to move the new website from the current setup of using ip addresses to use the domains we have.

[2018-07-23 13:40] yochannah opened #46 "July community call"
**EDIT: This will be at 11:30 UK time, NOT 10:30 - arewemeetingyet link below updated to reflect this**

If I'm right it should be this Thursday at ~10:30~ 11:30 AM UK time or check here for your timezone http://arewemeetingyet.com/London/2018-07-26/11:30  - does that sound correct?

Agenda items:

- Biohackathon - we are accepted and should discuss
    - attendees? (Dennis + Yo + Leyla will defin

[2018-07-23 15:10] yochannah commented on #46
I think that the calendar reminders may have disappeared because they were tied to @rowlandm's stemformatics account. We should create a new set tied to one of the biojs google accounts, perhaps?

[2018-07-23 15:15] sarthak-sehgal commented on #46
@rowlandm @DennisSchwartz and I discussed last month that we need to discuss about Galaxy integration and future plans for growth of BioJS.

[2018-07-23 15:19] yochannah commented on #46
added - thanks @sarthak-sehgal !

[2018-07-23 15:24] bgruening commented on #46
Yes, I will try to make it :) This will hack will be awesome!
ping @dannon

[2018-07-23 15:57] dannon commented on #46
I'll try to make it, too.

[2018-07-23 18:19] sarthak-sehgal commented on #46
@yochannah the website for biohackathon mentions that a few candidates will get funded but I don't see any procedure for the same.
_"There will be a minimum of fifteen travel rewards for the invited applicants. The travel rewards will be offered on a case-by-case basis based on the application’s relevance to ELIXIR’s technical activities and strategy."_
Can you help me out here?

[2018-07-23 20:02] rowlandm commented on #46
@yochannah it should be 10:30am GMT so 11.30 UK time.

[2018-07-23 20:08] rowlandm commented on #46
https://www.timeanddate.com/worldclock/meetingdetails.html?year=2018&month=7&day=26&hour=10&min=30&sec=0&p1=152&p2=136&iv=1800

Can someone send me Leyla Garcia's email?

[2018-07-24 09:12] yochannah commented on #46
@rowlandm the calendar invite doesn't match 11:30AM uk time, it comes through as 09:30 for me - can you tweak it to two hours later? I've sent you Leyla's address.

@sarthak-sehgal we have been _some_ funding for the hackathon allocated by elixir but it's probably not enough to get a large number of people there. There are some nice travel grant funds here that might be worth considering: https://

[2018-07-24 09:25] yochannah commented on #46
@dannon @bgruening pinging you directly to make sure you're aware it's an hour later than I originally suggested :)

[2018-07-24 09:37] DennisSchwartz commented on #46
@sarthak-sehgal Let's talk about the process for applying for the travel rewards on the call. I'm also interested to understand how that usually works.

[2018-07-24 12:25] dannon commented on #46
@yochannah Got it, even better for me, 6:30 AM instead of 5:30!

[2018-07-24 12:32] yochannah commented on #46
I was wondering how early you'd have to get up for this :sweat_smile: - glad an hour later helps!

[2018-07-26 10:35] rowlandm commented on #46
https://unimelb.zoom.us/j/6552003787  for @bgruening  and @dannon

[2018-07-26 10:58] yochannah opened #47 "Biohackathon"
## Attending Hackathon

- @DennisSchwartz
- @yochannah
- @ljgarcia

### would like to attend but need funding

- @Megh-Thakkar
- @sarthak-sehgal

Could consider applying for OBF diversity fellowships, look for others as well if possible. Needs to be done _soon_

## Topics

- BioJS edu / docs updates
- Consider creating infrastructure to build all biojs files (many are unbuilt and need to be pre-bu

[2018-07-26 11:25] yochannah opened #48 "German hosting resources"
@bgruening may be able to help out with providing elixir server resources for BioJS in Germany. Yo could be the contact point for this as an EU-based BioJS member working at a nominated Elixir resource (@intermine).

Follow up in 2-3 weeks once @bgruening is back from holiday.

[2018-07-26 11:31] yochannah commented on #46
Notes:

## Present:

@sarthak-sehgal
@rowlandm
@yochannah
@bgruening
@Megh-Thakkar

Mostly discussed the hackathon, with notes here including some follow ups:
- https://github.com/biojs/organisation/issues/47

Other than this:
- GSoC on target, although we had to prioritise some tasks when we found that building unbundled biojs components timed out sometimes.
- @bgruening will look up getting bioj

[2018-08-20 14:21] yochannah opened #49 "August 2018 Community Call"
Hello one and all! My calendar says it's community call time this week - Thursday 23 August at 11:30 AM UK time, or you can check here for your timezone: http://arewemeetingyet.com/London/2018-08-23/11:30

## Agenda (feel free to suggest additional topics)

1. GSoC: Wrapped up? Do we have any follow-up steps?
2. BioHackathon - possibly registration is closed :| - and we have some [actions that req

[2018-08-20 14:22] #44 closed, assigned to nobody

[2018-08-22 09:54] rowlandm commented on #49
I'll have to miss this call. Sorry.

On Tue, Aug 21, 2018 at 12:22 AM Yo Yehudi <notifications@github.com> wrote:

[2018-08-22 09:58] yochannah commented on #49
@rowlandm thanks for letting us know! Are we still ok to use your zoom room?

[2018-08-22 10:24] rowlandm commented on #49
Of course!

On Wed, Aug 22, 2018 at 7:58 PM Yo Yehudi <notifications@github.com> wrote:

[2018-08-22 11:23] Megh-Thakkar commented on #49
@all can we start the call 30 minutes before time? I have a class at the exact time the call will start and I would like to join the conversation if possible.

[2018-08-22 11:26] bgruening commented on #49
Small updates from my side, as I'm also not sure I can attend. We just need to wait for the CloudNetwork as soon as this is in place we can get some compute/hosting space for BioJS. So I assume in the next 2-3 weeks.

[2018-08-22 11:43] yochannah commented on #49
@Megh-Thakkar that time works for me! Hopefully some of the others will chime in - @sarthak-sehgal @DennisSchwartz @ljgarcia ?

@bgruening thanks for the update! :)

[2018-08-22 11:47] sarthak-sehgal commented on #49
I too have a class at 11:30 UK time so I'll be able to attend the call for about 20-25 minutes if it's at 11:00 UK time :)

[2018-08-22 12:49] ljgarcia commented on #49
I could do it at 11, yes

On 22/08/2018 12:43, Yo Yehudi wrote:

[2018-08-22 12:50] ljgarcia commented on #49
sorry, I am confused, do you want to start at 10am or 11am? both work
for me, just please let me know

On 22/08/2018 12:47, Sarthak Sehgal wrote:

[2018-08-22 14:02] yochannah commented on #49
@ljgarcia  11am :)

[2018-08-23 10:44] yochannah opened #50 "BioJS Hex stickers!"
We're going to get some stickers printed to thank contributors and share with others. Is anyone's artistic skill up to putting this together? They probably need to just be the biojs logo + the word biojs.

If you need hex sizing specs check out this thread: https://twitter.com/yoyehudi/status/930088898226769920

**Output:**
- sticker template in a raster format, ideally png
- sticker template in e

[2018-08-23 10:51] DennisSchwartz commented on #50
Also check this Folder for the last Sticker designs we had:
https://drive.google.com/drive/u/0/folders/0B7X2x2IPBve7MW4xWFJiTk5VTzQ

[2018-08-23 12:00] yochannah commented on #49
The meeting ended up being pretty quick due to internet connectivity issues, but here are some quick notes

1. GSoC is over - planning to launch the new site soon, just needs a DNS switchover. WELL DONE ALL! :tada: :heart:
2. Swag -
   1. We'll be sending out some thank-yous to the GSoC mentors and students. You'll receive an email with a survey link for this. Biohackathon representatives can also

[2018-09-12 10:34] yochannah commented on #48
@bgruening any update?

[2018-09-16 19:46] DennisSchwartz opened #51 "Configure new biojs website to use SSL/HTTPS"
The new websites are using unencrypted http at the moment.

We need to update the nginx configuration to automatically redirect to HTTPS and use letsencrypt to create the SSL certificates.

[2018-09-20 21:37] bgruening commented on #48
Kind of. We got the cloud running, now migrating everything from the old cloud and testing. We are getting there ...

[2018-09-27 09:35] DennisSchwartz opened #52 "September 2018 Community Call"
Hi folks!
Just a quick agenda for our call today! http://arewemeetingyet.com/London/2018-09-27/11:30

## Agenda (contributions welcome as always
1. workmen seems to go down a lot for short periods of time
2. The new website does not have SSL certificates (HTTPS is not working)
3. Still need sticker designs & t-shirt designs - ordering soon!
4. KnetMaps and genomaps were not listed in the registry?

[2018-09-27 10:01] ljgarcia commented on #52
Hi Dennis,

I had the meeting scheduled at 10:30 UK but then I realized it will be
11:30 UK. It clashes with another meeting so cannot join, sorry about
it. Do you plan to discuss anything regarding the Paris BioHackathon
next meeting? Did not see anything in the agenda this time. Who is
joining the BioHack meeting on the 4th? It is for project leaders.

Have a great meeting! Will have a look to t

[2018-09-27 10:06] yochannah commented on #52
Sarthak and possibly Megh can't make it either - I suggest we reschedule.

[2018-09-27 10:11] DennisSchwartz commented on #52
I'm ok with that. Any suggestions?

[2018-09-27 10:15] yochannah commented on #52
I can make most times up to and including 4pm UK time today or tomorrow. @ljgarcia @Megh-Thakkar @sarthak-sehgal Can you suggest some slots that would work for you all?

I haven't heard from @rowlandm at all, so not sure if he's planning to attend.

[2018-09-27 10:18] DennisSchwartz commented on #52
I'm pretty much free for the rest of the week. Not so much next week though :)
I'll try to make a doodle in a bit.

[2018-09-27 10:26] sarthak-sehgal commented on #52
Can we have it tomorrow at 11:30 UK time?

[2018-09-27 10:30] DennisSchwartz commented on #52
Works for me! @yochannah @rowlandm @ljgarcia ?

[2018-09-27 10:57] rowlandm commented on #52
happy to try it. might not make it though

El jue., 27 de sep. de 2018 20:30, Dennis Schwartz <notifications@github.com>
escribió:

[2018-09-27 11:43] ljgarcia commented on #52
Hi,

Yes, tomorrow 11:30 it works.

Cheers,

On 2018-09-27 11:30, Dennis Schwartz wrote:

[2018-09-27 20:17] Megh-Thakkar commented on #52
I'll join it too!

[2018-09-28 10:44] yochannah commented on #52
# Notes

1. Workmen: Uptime robot has been pinging us a lot, but it seems to be okay again now. Will ignore for now, unless anything else comes up. The workmen server is used for visualisations in the new site.
2. For SSL, we'll use the mybiojs@gmail.com to set up let's encrypt. [ @Megh-Thakkar , @sarthak-sehgal ]
3. Stickers: @sarthak-sehgal will upload when he has his laptop back. These will als

[2018-09-28 10:44] DennisSchwartz commented on #52
1. Workmen is currently only used for visualisations. A little bit of downtime is not an issue for now.

2. @Megh-Thakkar will set up SSL certificates for the new site. Using mybiojs@gmail.com to send notifications. @DennisSchwartz to review who has access to this email adress

3. @sarthak-sehgal will send sticker designs when his laptop is working again. (Some time next week?)

4. The cronjobs we

[2018-11-13 12:46] yochannah commented on #50
![image](https://user-images.githubusercontent.com/9271438/48414208-fb4fc680-e741-11e8-9997-0782ae4eaece.png)

Anyone want some? Message me - my email's in my github profile or [@yoyehudi](https://twitter.com/yoyehudi) on twitter

[2018-11-13 12:46] #50 closed, assigned to nobody

[2018-11-13 12:47] yochannah commented on #45
This is resolved and safe to close, right?

[2018-11-13 13:04] yochannah commented on #20
IT IS FIXED!!!

-> http://edu.biojs.net/ is now backed by gitlab pages - source is here: https://gitlab.com/biojs/edu/

@rowlandm @Megh-Thakkar @sarthak-sehgal (and anyone else appropriate) - I can grant you access to these repos if you message me with your gitlab account users!

@rgaiacs You are a hero ❤️ ❤️ ❤️ ❤️

[2018-11-13 13:04] #20 closed, assigned to nobody

[2018-11-16 11:20] DennisSchwartz opened #53 "[UX] Clarify download numbers"
It's not entirely clear what the download numbers are referring to. NPM downloads, github clones?

Would be good to add some explanations to the front-end, or remove if it's not necessary.

[2019-01-04 10:17] yochannah opened #54 "January 2019 Community Call"
Opening this discussion more publicly - we haven't had a community call in a while. I think our usual time of 10:30 or 11:30 UK time is a bit tricky for many of us - how about 13:00 UK time on Monday? http://arewemeetingyet.com/London/2019-01-07/13:00/BioJS

[2019-01-04 10:19] yochannah commented on #54
Agenda:

- Biohackathon reports (Dennis, Yo)
- Updating BioJS standards (3.0 & webcomponents?)
- Updating BioJS site
- GSoC

Proposal: BioJS hack (upgrade your component day!) and/or Mozilla Global Sprint this year?

Feel free to add items

[2019-01-04 14:21] ljgarcia commented on #54
Hi Yo,

Would it be still on the last but one week of the month?

Regards,

On 2019-01-04 10:18 am, Yo Yehudi wrote:

[2019-01-04 14:22] DennisSchwartz commented on #54
I can't on this Monday at 1pm. How about 2pm?

[2019-01-04 14:25] yochannah commented on #54
@DennisSchwartz  2pm would work fine for me! Other timezones: http://arewemeetingyet.com/London/2019-01-07/14:00/BioJS

@ljgarcia I guess that's up for discussion. Do you have preferences?

[2019-01-04 14:40] ljgarcia commented on #54
Hi Yo,

I do not mind the week but I already have a scheduled meeting for every
first Monday of the month (Tuesday if bank holiday) so I could not join
next Monday January the 7th.

I could not make it on first Monday of the month at 2pm, Wednesdays at 3
pm, Fridays at 11am, third Friday of the month at 2pm. Those are
recurrent meetings already scheduled for me.

Regards,

On 2019-01-04 2:25 pm, Y

[2019-01-07 11:59] yochannah commented on #54
Joining instructions - there is a link in the calendar invite, or visit here: https://hangouts.google.com/call/ZLjjld1Kx3z9eIXVBPrPAEEI

[2019-01-07 15:38] yochannah commented on #54
So I deleted my original notes by accident (whoops). Here's my reconstruction from memory

**Continuous Deployment**
@DennisSchwartz has been totally awesome over christmas break and:
- added two CD pipelines: items merged into `master` are deployed to dev.niojs.net and commits merged to `production` are deployed to biojs.net. Nice!
- More owrk needed on the visualisations - we probably need to re

[2019-01-07 15:41] ljgarcia commented on #54
Hi all,

17:00 meeting for next time works for me, this time I had another
meeting.

@Yo, happy to collaborate/provide feedback on the draft you are working
on.

Kind regards,

On 2019-01-07 3:38 pm, Yo Yehudi wrote:

[2019-01-17 16:50] #46 closed, assigned to nobody

[2019-01-17 16:50] #49 closed, assigned to nobody

[2019-01-17 16:50] #52 closed, assigned to nobody

[2019-01-17 16:52] yochannah commented on #41
Please add all ideas to this doc: https://hackmd.io/HOKzkZGmRIOlU4NRtpnDSA?edit

[2019-01-17 17:06] yochannah opened #55 "BioJS 3.0 working draft"
I've started drafting a spec here:

https://hackmd.io/j8y-Ht9_TP2yaDhYdUeIEQ# - please feel free to review, edit, discuss, etc.

It's *not* complete yet - I'll probably be working on this a little over the next few days.

[2019-01-17 17:10] yochannah opened #56 "January 2019 Community Call 2"
As noted in #54, we're moving calls to a different time slot, and will be meeting again in January to discuss our GSoC related plans.

The next call will be on the 21st of January 2019, at 5PM UK time.
In your timezone: http://arewemeetingyet.com/London/2019-01-21/17:00/BioJS%20Community%20call

## Agenda:

1. Kudos to Dennis for so much work and two great blog posts!
1. GSoC 2019 - do we feel rea

[2019-01-17 17:15] yochannah commented on #51
@DennisSchwartz you did this, right?

[2019-01-17 17:16] #45 closed, assigned to nobody

[2019-01-17 17:29] DennisSchwartz commented on #51
Yep!

[2019-01-17 17:29] #51 closed, assigned to nobody

[2019-01-17 20:28] sarthak-sehgal commented on #55
Regarding BioJS 3.0 and the front-end idea for GSoC 2019:

I tried looking at Dennis' code for building the visualisations but I was
only able to get a vague idea so I'll have to brush up some stuff first. 😅
In my opinion, the transition to BioJS 3.0 and what idea we present for
GSoC depends on what approach we choose for the visualisations - 1. Whether
we want to continue using wzrd or 2. We want

[2019-01-18 14:14] yochannah commented on #55
I strongly think 2 is a reasonable minimum - either having that build file in the package itself, or on a CDN somewhere ought to be mandatory. CDN might be better because it allows naive users to copy and paste their desired app into HTML, without having to download node, install dependencies, and find the compiled script!

There's still value in working on the component builder, as it'd be nice t

[2019-01-21 12:48] yochannah commented on #56
Hey all - I have an unexpected conflict and need to take my kittycat to the vet tonight. :cat2: Can y'all go ahead without me?

[2019-01-22 16:10] yochannah commented on #56
Okay - I'm tentatively able to re-schedule for the same time next monday, on the 28th. Does this sound do-able?

[2019-01-22 16:18] DennisSchwartz commented on #56
yes from my side.

[2019-01-28 15:49] yochannah commented on #56
Reminder all - the call is this evening in just over an hour!

[2019-01-28 15:59] sarthak-sehgal commented on #56
Hello all,
I'm really sorry, I don't think I'll be able to attend the call. Got back
to college a day ago and caught severe cold and bad throat :(
I'll be able to communicate through gitter if that helps?

On Mon, 28 Jan, 2019, 21:19 Yo Yehudi <notifications@github.com wrote:

[2019-01-28 16:03] yochannah commented on #56
@sarthak-sehgal oh no! Sorry to hear this :( Please take it easy and have some nice honeyed tea. :coffee:

I think if others are available tonight we need to go ahead so we have plans before the gsoc application period closes. Feel free to add any thoughts or discussion points you may have - I'll try to take notes and maybe not accidentally delete them this time :laughing:

Also, am I right in thi

[2019-01-28 16:08] sarthak-sehgal commented on #56
Yes, I'd love to mentor for BioJS this time. :)
I will share my ideas for the project latest by tomorrow.
I think we have to include that component test and error log thing we
discussed last week? I'll add it to my list and share tomorrow in case we
haven't included it yet.

On Mon, 28 Jan, 2019, 21:33 Yo Yehudi <notifications@github.com wrote:

[2019-01-29 10:20] yochannah commented on #56
Okay -notes from last night:

## GSoC Projects (See #41)
- It's important that we find a project that has a suitable 3-month scope and is reasonably well-defined. We feel like the scaffolder idea could comfortably fit this bill, the documentation idea would _not_ (but might be suitable for Google Summer of Docs, if that happens), and improving the visualisations on the registry _could_ be suitable

[2019-01-29 10:21] #54 closed, assigned to nobody

[2019-02-01 11:53] rowlandm commented on #56
Hi @yochannah

Servers expire 27 Jul 2019 but I will be able to renew them for another year (it's a year to year thing).

[2019-02-01 11:55] rowlandm commented on #56
What's concerning is that I don't think I can give anyone else access as it's all Australian Univeristy credential logins (nectar cloud)

[2019-02-01 15:14] yochannah commented on #56
Thanks @rowlandm! I think that should keep us covered until we can find a permanent home - I will raise this again at the OBF board meeting to see if we can officially join.

[2019-02-18 10:06] yochannah opened #57 "Next community call - March 4"
My calendar suggests we have a communit call at 5PM UK time today, but I'd suggest we delay it until March 4 - then we'll know if we're participating in GSoC or not, and can plan accordingly.

If y'all do have agenda items to discuss today please comment now!

[2019-03-01 16:12] yochannah commented on #57
Hey all!

Quick reminder that the next call will be March 4 at 17:00 UK time. Specifically pinging @DennisSchwartz @sarthak-sehgal to discuss GSoC plans.

---

## Agenda
- The OBF was accepted to GSoC - yeah!
- Responding to students, PRs, etc - agree on basic protocol
- Anything else?

---

## Joining Details

Please join my meeting from your computer, tablet or smartphone.
https://global.gotomee

[2019-03-04 12:49] sarthak-sehgal commented on #57
@yochannah could you give me access to the server?
I have to update the code with the merged PRs. :)
@DennisSchwartz, do I need to run the Ansible script or a simple ```git pull``` will do?

See you all at 17:00 UK time!

[2019-03-04 17:30] yochannah commented on #57
Okay, it was a really quick one as it was only @sarthak-sehgal and I:

- @sarthak-sehgal has been doing a great job reviewing PRs but can't deploy to the live site right now.
- @yochannah needs to write up the project requirements more clearly and will try to do so THIS week.

Next week @sarthak-sehgal will have reduced availability so I and @DennisSchwartz should make sure to answer any student q

[2019-03-15 16:13] #56 closed, assigned to nobody

[2019-03-15 16:21] yochannah opened #58 "April community call"
My calendar has the next comunity call as Monday the 18th.

I propose we move it to April 1 and discuss the following things:

- GSoC student applications (the application period will be open at this point)
- BioHackathon Paris (call for abstracts closes 7th April).
- BOSC talk/poster submissions (closes 11 April)

Does this sound okay?

[2019-03-18 13:27] yochannah commented on #58
Okay, I've changed the calendar invite to April 1!

[2019-04-01 14:47] yochannah commented on #58
Reminder that this call will be happening in just over an hour!

Please join my meeting from your computer, tablet or smartphone.
https://global.gotomeeting.com/join/793189165

You can also dial in using your phone.
United Kingdom: +44 20 3713 5028

Access Code: 793-189-165

More phone numbers
United States: +1 (646) 749-3129
Germany: +49 692 5736 7317

New to GoToMeeting? Get the app now and be r

[2019-04-01 15:11] yochannah commented on #58
whoops - ALERT, this has been cancelled, as Sarthak can't make it.

When later this week wouldwork - is Tuesday okay?

[2019-04-01 15:12] DennisSchwartz commented on #58
Sorry I've been so absent - again.
Tuesday works for me :)

[2019-04-02 15:06] sarthak-sehgal commented on #58
The call is at 5PM UK time right?

[2019-04-02 15:27] yochannah commented on #58
yup! around 30 minutes from now :)

[2019-04-24 14:48] maxkfranz opened #59 "Spam entries in the registry"
That npm allows anyone to publish a package is both good and bad.  On the bad side, there are several "spam" clones of the `cytoscape` package.

Here is an example: [`cytoscape-universal`](https://www.npmjs.com/package/cytoscape-universal).  This looks like it was published by someone who doesn't understand how npm or semver works.  He probably wanted to use a particular version of `cytoscape` in

[2019-04-24 14:50] maxkfranz opened #60 "Demo integration"
Years ago, Seb helped integrate the BioJS demos for Cytoscape using his `sniper` package.  It looks like that demo format is no longer supported?

Is there documentation for upgrading to the new format?  I'm having trouble finding it, if it exists.

[2019-04-24 14:59] yochannah commented on #59
Ooh, good point! We'd been thinking of encouraging good quality primarily by highlighting good quality packages, but I don't think we'd taken the spammy packages into account.

It makes the most sense to handle this on a case-by-case basis as spammy things come up.

@DennisSchwartz @sarthak-sehgal what do you think - is it likely to be easy to add a feature that allows us to add package names to a

[2019-04-24 15:02] yochannah commented on #60
Hey @maxkfranz! We're working on updating the biojs standards to encourage higher quality and easier demos. One of the big problems we've had is that the larger packages can take a long time to build and end up timing out if we build them server side, so we generally prefer built packages e.g. using CDN links or a dist folder in the package.

With any luck, we should be having a GSoC student start

[2020-05-11 18:04] sanchitbansal10 opened #61 "get_involved page is giving 404"
https://github.com/biojs/biojs#41-get-involved

The get-involved link is down.

![Screenshot 2020-05-11 at 11 33 11 PM](https://user-images.githubusercontent.com/16536741/81595323-eb20b200-93df-11ea-9da7-1f93938bd33c.png)